/************** This file define colors use for welcom ***************/

$wel-white: #ffffff;
$wel-grey-light: #f4f4f4;
$wel-grey-middle-light: #ebebeb;
$wel-grey: #868686;
$wel-grey-dark: #161616;
$wel-black: #000000;

$wel-pink: #dc5770;
$wel-yellow: #ffd14e;
$wel-blue: #0a1235;

$wel-green: #41b866;


$wel-black-opacity-03: rgba(0,0,0,0.3);
$wel-yellow-opacity-05: rgba(255,209,78,.5);
