/************** This file define colors use for welcom ***************/

$wel-white: #ffffff;
$wel-grey-light: #f4f4f4;
$wel-grey-middle-light: #ebebeb;
$wel-grey: #868686;
$wel-grey-dark: #161616;
$wel-black: #000000;
$wel-blue: #2e79cc;
$wel-green: #21cd99;
$wel-orange: #ff7429;

$wel-black-opacity-03: rgba(0,0,0,0.3);
$wel-orange-opacity-05: rgba(255,116,41,.5);