#profile-edit-content{
  max-width: 80%;
  width: 1140px;

  .form-separation{
    background-color: $wel-yellow;
    height: 2px;
    width: 50%;
  }
}

#tags-container{
  .tags-item{
    height: 45px;

    button{
      height: 44px; 
      width: 50px;
    }
  }
}

#profile-carousel carousel-caption{
  height: 0px;
}