#profile-edit-content{
  max-width: 80%;
  width: 1140px;

  // input{
  //   border-bottom: 1px solid black;
  //   border-top: none;
  //   border-left: none;
  //   border-right: none;
  //   height: 50px;
  //   width: 350px;
  // }
  // input::placeholder {
  //   text-align: center;
  //   font-family: 'Aaux ProLight', serif;
  // }

  .form-separation{
    background-color: $wel-yellow;
    height: 2px;
    width: 50%;
  }
}

