.footer-content{
    max-width: 80%;
    width: 1000px;

    h4{
        font-weight: bold;
    }
}

// Meet The Team

@media (min-width: 1200px) { 
    .meet-team-img{
        width: 350px;
    }
    
    .meet-team-desc{
        width: 550px;
    }
}

@media (min-width: 992px) { 
    .meet-team-img{
        width: 350px;
    }
    
    .meet-team-desc{
        width: 350px;
    }
}

@media (min-width: 768px) { 
    .meet-team-img{
        width: 450px;
    }
    
    .meet-team-desc{
        width: 450px;
    }
}

@media (min-width: 576px) and (max-width: 767px) { 
    p{
        margin-left: 5%;
        margin-right: 5%;
    }

    .img-jb-yohann{
        max-width: 95%;
    }

    .meet-team-img{
        width: 350px;
    }
    
    .meet-team-desc{
        width: 350px;
    }
}

@media (max-width: 575px) { 
    p{
        margin-left: 5%;
        margin-right: 5%;
    }

    .img-jb-yohann{
        max-width: 95%;
    }

    .meet-team-img{
        width: 350px;
    }
    
    .meet-team-desc{
        width: 350px;
    }
}

// Contact us

.contact-us{
    &-form{
        input{
            border-bottom : 1px solid black;
            border-top: none;
            border-left: none;
            border-right: none;
            height: 50px;
            width: 350px;
        }
        
        input::placeholder, textarea::placeholder {
            text-align: center;
            font-family: 'Aaux ProLight', serif;
        }
    }

    &-btn{
        button{
            background-color: $wel-pink;
            color: white !important;
            border: none;
            border-radius: 25px;
            width: 170px;
            height: 50px;
        }
    }
}

// We need you

.need-you-img{
    width: 400px;
    max-width: 100%;
}

// Welcom'

.joinus-btn{
    background-color: transparent;
    color: #dc5770 !important;
    border: 2px #dc5770 solid;
    border-radius: 25px;
    width: 170px;
    height: 50px;
}