/************** This file define generic classes for welcom ***************/
@import 'color';

.wel-bg-white{
  background-color: $wel-white;
}

.wel-bg-blue{
  background-color: $wel-blue;
}

.wel-bg-pink{
  background-color: $wel-pink;
}

.wel-bg-yellow{
  background-color: $wel-yellow;
}

.wel-bg-grey-dark{
  background-color: $wel-grey-dark;
}

.wel-bg-grey-light{
  background-color: $wel-grey-light;
}

.wel-bg-grey-middle-light{
  background-color: $wel-grey-middle-light;
}

.wel-bg-grey{
  background-color: $wel-grey;
}

.wel-color-white{
  color: $wel-white !important;
}

.wel-color-blue-night{
  color: $wel-blue;
}

.wel-color-yellow{
  color: $wel-yellow;
}

button{
  cursor: pointer;
}

.gradient-rounded-btn{
  font-size: 13,76pt;

  background: linear-gradient(to right, $wel-pink, $wel-blue);
  color: white;

  border: none;
  border-radius:20px;

  height: 40px;
  width: calc(100% + 20px);
}

.text-gradient{
  font-family: 'Aaux ProBlack', serif;
  background: -webkit-linear-gradient(to right, $wel-pink, $wel-blue);
  background: linear-gradient(to right, $wel-pink, $wel-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/************** Welcom Custom Button ***************/
.btn-wel-pink{
  color: $wel-white;
  background-color: $wel-pink;
  border-color: darken($wel-pink, 5%);

  &:hover{
    color: $wel-white;
    background-color: darken($wel-pink, 10%);
    border-color: darken($wel-pink, 15%);
  }

  &:active, &.active{
    background-color: darken($wel-pink, 10%);
    border-color: darken($wel-pink, 15%);
  }

  &:focus, &.focus{
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba($wel-pink, .5) !important;
  }
}

.btn-wel-blue{
  color: $wel-white;
  background-color: $wel-blue;
  border-color: darken($wel-blue, 5%);

  &:hover{
    color: $wel-white;
    background-color: darken($wel-blue, 5%);
    border-color: darken($wel-blue, 10%);
  }

  &:active, &.active{
    background-color: darken($wel-blue, 5%);
    border-color: darken($wel-blue, 10%);
  }

  &:focus, &.focus{
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba($wel-blue,.5) !important;
  }
}

.btn-wel-yellow{
  color: $wel-black;
  background-color: $wel-yellow;
  border-color: darken($wel-yellow, 5%);

  &:hover{
    color: $wel-black;
    background-color: darken($wel-yellow, 10%);
    border-color: darken($wel-yellow, 15%);
  }

  &:active, &.active{
    background-color: darken($wel-yellow, 10%);
    border-color: darken($wel-yellow, 15%);
  }

  &:focus, &.focus{
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba($wel-yellow,.5) !important;
  }
}