/************** This file define generic classes for welcom ***************/
@import 'color';

.wel-bg-white{
  background-color: $wel-white;
}

.wel-bg-blue{
  background-color: $wel-blue;
}

.wel-bg-pink{
  background-color: $wel-pink;
}

.wel-bg-yellow{
  background-color: $wel-yellow;
}

.wel-bg-grey-dark{
  background-color: $wel-grey-dark;
}

.wel-bg-grey-light{
  background-color: $wel-grey-light;
}

.wel-bg-grey-middle-light{
  background-color: $wel-grey-middle-light;
}

.wel-bg-grey{
  background-color: $wel-grey;
}

.wel-color-white{
  color: $wel-white;
}

.wel-color-blue-night{
  color: $wel-blue;
}

.wel-color-yellow{
  color: $wel-yellow;
}

button{
  cursor: pointer;
}
