/************** This file define generic classes for welcom ***************/
@import 'color';

.wel-bg-white{
  background-color: $wel-white;
}

.wel-bg-blue{
  background-color: $wel-blue;
}

.wel-bg-green{
  background-color: $wel-green;
}

.wel-bg-grey-dark{
  background-color: $wel-grey-dark;
}

.wel-bg-grey-light{
  background-color: $wel-grey-light;
}

.wel-bg-grey-middle-light{
  background-color: $wel-grey-middle-light;
}

.wel-bg-grey{
  background-color: $wel-grey;
}

.wel-bg-orange{
  background-color: $wel-orange;
}


.wel-color-white{
  color: $wel-white;
}

.wel-color-blue-night{
  color: $wel-blue;
}
