@import 'color';

/*************** Header Image Carousel ***********************************/
#header-carousel{
    .dark-opacity-overlay{        
        width: 100%; 
        height: 100%; 
        z-index: 1;
        position: absolute;
        //background-color: $wel-black-opacity-03;

        background: -webkit-linear-gradient(to right, rgba(220, 87, 112, 1) , rgba(10, 18, 53, 1));
        background: linear-gradient(to right, rgba(220, 87, 112, 1) , rgba(10, 18, 53, 1));
        mix-blend-mode: multiply;
    }

    .carousel-control-prev, 
    .carousel-control-next{
        z-index:5;
    }

    .header-carousel-img{
        width: 100vw;
        //height: 100vh;        
        //max-height: 600px;
        object-fit: cover; 
    }

    // Modification de la forme des indicateurs du carousel 
    // Faire un cercle
    .carousel-indicators{
        li{
            border-radius: 20px;
            max-width: 20px;
            height: 20px;

            background-color: $wel-orange-opacity-05;

            &.active{                
                border-radius: 25px;
                max-width: 25px;
                height: 25px;

                background-color: $wel-orange;
            }
        }
    }

    .carousel-caption{
        top: 20%;

        h1, h2{
            font-family: 'Aaux ProLight', serif;
        }

        h1{
            font-size: 94pt;
            font-weight: normal;
        }

        h2{
            font-size: 23pt;
        }

        button{
            background-color: transparent;
            color: white !important;
            border: 2px #FFF solid;
            border-radius: 25px;
            width: 170px;
            height: 50px;

            margin-top: 100px;
        }
    }
}

/*************** Whant a truly Parisian experience ? *********************/
// See experience-card.scss

/*************** Learn more **********************************************/
#learn-more{
    .svg-separate-line{
        width: 100px;
        height: 5px;

        line{
            stroke:$wel-orange;
            stroke-width: 5px;
        }
    }
}

/*************** Community says ******************************************/
// see community-says.scss

#community-says{
    .community-says-item{
        max-width:350px;
    }
}

/*************** Our stories and vision **********************************/
// see story-card-large.scss and story-card.scss


/*************** Want to get our newsletter ? ****************************/
#newsletter-form{
    .col{
        max-width:450px;
    }
}

/*************** Do you feel like becoming a Welcomer ? ******************/

/*************** Do you feel like becoming a Welcomer ? ******************/

/*************** We love that they do (or did) ***************************/