@import 'color';

h1.font-weight-bold.pb-5.name {
  font-size: 72px;
  font-family: 'MyriadPro', serif;
  color: $wel-white;
  font-weight: bold;
  text-shadow: 3.5px 6.062px 0 $wel-black;
}

div.img-back {
  width: 100%;
  height: 400px;
}

section.avatar-logo {
  display: flex;
  justify-content: center;
  width: 100%;

  div.logo {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    background: url('/images/default-profile-img.png') no-repeat;
    background-size: cover;
  }
}

section.social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 50px;

  div {
    display: flex;
    width: 200px;
    justify-content: space-between;

    a.facebook {
      background: url('/images/facebook.png') no-repeat;
      height: 48px;
      width: 48px;
    }

    a.instagram {
      background: url('/images/insta.png') no-repeat;
      height: 48px;
      width: 48px;
    }

    a.twitter {
      background: url('/images/twitter.png') no-repeat;
      height: 48px;
      width: 48px;
    }

    a.darkHeart {
      background: url('/images/darkHeart.png') no-repeat;
      height: 40px;
      width: 54px;
      margin-top: 3px;
    }
  }
}

ul.nav.justify-content-center {
  margin: 40px 0;
  flex-wrap: wrap;

  li.nav-item {
    padding: 0;
    height: 39px;
    border-bottom: solid $wel-yellow 3px;

    a.nav-link {
      font-size: 24px;
      font-family: 'MyriadPro', serif;
      color: $wel-black;
      padding: 0 5px;
      margin: 0 78px;
    }

    a.nav-link:active {
      border-bottom: solid $wel-pink 3px;
    }
  }
}

div#profile {
  section.laius {
    display: flex;
    flex-direction: column;
    align-items: center;

    p.intro {
      text-align: center;
    }

    p.text {
      text-align: left;

      span {
        font-size: 20px;
        font-family: 'MyriadPro', serif;
        font-weight: bold;
      }
    }
  }

  section.management-tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    section.management {
      border: solid $wel-yellow 3px;
      padding: 10px;
      margin: 5px;
    }
  }

  div.likes {
    display: flex;
    flex-direction: row;

    div.like {
      margin: 5px;
      border: solid grey 3px;
      border-radius: 4px;
      padding: 5px;
    }
  }
}

span.www {
  font-size: 24px;
  font-family: 'PoetsenOne', serif;
  color: $wel-pink;
  margin: 40px 0;
}

section.desc {
  display: flex;
  flex-direction: column;
  align-items: center;

  p.para {
    font-family: 'Myriad Pro', serif;
    text-align: center;
    margin-bottom: 0;
  }
}

section.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;

  section.review {
    /*height: 160px;*/
    display: flex;
    border: solid #a6a6a6 3px;
    width: 775px;
    margin-top: 40px;

    div.picture {
      height: 130px;
      width: 130px;
      border: solid #a6a6a6 2px;
      border-radius: 50%;
      margin: 20px;
    }

    section.commentary {
      display: flex;
      flex-direction: column;
      margin-top: 25px;

      span.title {
        font-size: 18px;
        font-weight: bold;
      }

      img {
        margin: 20px 0;
        height: 15px;
        width: 14px;
      }
    }
  }
}

#experiences {
  section.exp {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

hr.exposed {
  height: 3px;
  color: $wel-yellow;
  background-color: $wel-yellow;
  width: 800px;
  border: none;
  margin-top: 70px;
  margin-bottom: 40px;
}

section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  span.request {
    font-family: 'Myriad Pro', serif;
    font-size: 20px;
  }

  button.contact {
    margin: 40px 0;
    padding: 20px 135px;
    border: solid $wel-blue 1px;
    color: $wel-blue;
    font-size: 20px;
    font-family: 'MyriadPro', serif;
    font-weight: bold;
    border-radius: 25px;
    background-color: $wel-white;
  }

  button.contact:hover {
    background-color: $wel-blue;
    color: $wel-white;
  }
}