@import 'color';

/* Profile */

h1.font-weight-bold.pb-5.name {
  font-size: 72px;
  font-family: 'MyriadPro', serif;
  color: $wel-white;
  font-weight: bold;
  text-shadow: 3.5px 6px 0 $wel-black;
}

div.img-back {
  width: 100%;
  height: 400px;
}

div.pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
}

section.avatar-logo {
  display: flex;
  justify-content: center;
  width: 100%;

  div.default-pic {
    background: white url('/images/logo-mixte-no-fond.png') no-repeat;
    background-size: 175px;
    background-position-x: 39px;
    background-position-y: 60px;
    border: solid $wel-yellow 3px;
  }

  div.pic.logo {
    background: url('/images/default-profile-img.png') no-repeat;
    background-size: cover;
  }

}

section.social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;

  div {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
}

a.facebook {
  background: url('/images/facebook.png') no-repeat;
  height: 48px;
  width: 48px;
}

a.instagram {
  background: url('/images/insta.png') no-repeat;
  height: 48px;
  width: 48px;
}

a.twitter {
  background: url('/images/twitter.png') no-repeat;
  height: 48px;
  width: 48px;
}

a.darkHeart {
  background: url('/images/darkHeart.png') no-repeat;
  height: 40px;
  width: 54px;
  margin-top: 3px;
}

ul.nav.justify-content-center {
  margin: 40px 0;
  flex-wrap: wrap;

  li.nav-item {
    padding: 0;
    height: 39px;
    border-bottom: solid $wel-yellow 3px;

    a.nav-link {
      font-size: 24px;
      font-family: 'MyriadPro', serif;
      color: $wel-black;
      padding: 0 5px;
      margin: 0 78px;
    }

    a.nav-link:active {
      border-bottom: solid $wel-pink 3px;
    }
  }
}

div#profile {
  section.laius {
    display: flex;
    flex-direction: column;
    align-items: center;

    p.intro {
      text-align: center;
    }

    p.text {
      text-align: left;

      span {
        font-size: 20px;
        font-family: 'MyriadPro', serif;
        font-weight: bold;
      }
    }
  }

  section.management-tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    section.management {
      border: solid $wel-yellow 3px;
      padding: 10px;
      margin: 5px;
    }
  }

  div.likes {
    display: flex;
    flex-direction: row;

    div.like {
      margin: 5px;
      border: solid grey 3px;
      border-radius: 4px;
      padding: 5px;
    }
  }
}

span.www {
  margin-top: 125px;
  margin-bottom: 40px;
  font-size: 24px;
  font-family: 'PoetsenOne', serif;
  color: $wel-pink;
}

section.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  p.para {
    font-family: 'Myriad Pro', serif;
    text-align: center;
    margin-bottom: 0;
  }
}

section.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;

  section.review {
    /*height: 160px;*/
    display: flex;
    border: solid #a6a6a6 3px;
    width: 775px;
    margin-top: 40px;

    div.picture {
      height: 130px;
      width: 130px;
      border: solid #a6a6a6 2px;
      border-radius: 50%;
      margin: 20px;
    }

    section.commentary {
      display: flex;
      flex-direction: column;
      margin-top: 25px;

      span.title {
        font-size: 18px;
        font-weight: bold;
      }

      img {
        margin: 20px 0;
        height: 15px;
        width: 14px;
      }
    }
  }
}

#experiences {
  section.exp {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

hr {
  height: 3px;
  color: $wel-yellow;
  background-color: $wel-yellow;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

hr.exposed.longer {
  width: 800px;
}

hr.exposed.little {
  width: 400px
}

section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  span.request {
    font-family: 'Myriad Pro', serif;
    font-size: 20px;
  }

  button.contact {
    margin: 40px 0;
    padding: 20px 135px;
    border: solid $wel-blue 1px;
    color: $wel-blue;
    font-size: 20px;
    font-family: 'MyriadPro', serif;
    font-weight: bold;
    border-radius: 25px;
    background-color: $wel-white;
  }

  button.contact:hover {
    background-color: $wel-blue;
    color: $wel-white;
  }
}


/* Edit Profile */

div.button-change {
  height: 48px;
  width: 80px;
  margin-top: 150px;
  margin-left: 81px;
  background-color: $wel-grey;
  border-radius: 15px;

  label.change {
    background: $wel-grey url('/images/update-picture-icon.png');
    background-size: cover;
    height: 48px;
    width: 50px;
    margin-left: 15px;
    border-radius: 15px;
    cursor: pointer;
  }

  input#change {
    display: none;
  }
}

h2.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

input.longer {
  width: 100%;
}

section.log {
  margin-top: 30px;

  section.form {
    width: 380px;

    section.info {
      p {
        margin-bottom: 14px;
      }

      label {
          width: 115px;
          font-size: 20px;
          font-family: 'Myriad Pro', serif;
          color: rgb( 58, 69, 49 );
      }

      span {
          font-size: 20px;
          font-family: 'Myriad Pro', serif;
      }

      label.long {
        width: inherit;
      }
    }
  }

  section.form.url {
    section.info {
      input {
        height: 30px;
      }
    }
  }
}

button.pink {
  background-color: #dc5770;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  display: flex;
  margin: 0 auto 40px;
}