
.img-header{
  &-content{
    max-height: 500px;
  }
  
  &-profile{
    width: 100vw;
    height: auto;
    max-height: 500px;
    min-height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: bottom;
  }
}

.img-profile{
  height: 1px;
  width: 200px;

  &-picture{
    height: 200px;
    width: 200px;
    top: -200px;
    position: relative;
  }
  &-edit-picture{
    height: 200px;
    width: 200px;
    top: -100px;
    position: relative;
  }
  &-pic-upload{
    top: -235px;
    left: 45px;
    width: 110px;
    height: 70px;
    position: relative;
    border-radius: 50%;
    color: $wel-yellow;
    &:hover{
      color: $wel-yellow;
    }
  }
  &-cover-upload{
    width: 110px;
    height: 70px;
    bottom: 285px;
    left: calc((100% - 110px) / 2);
    position: relative;
    border-radius: 50%;
    color: $wel-yellow;
    &:hover{
      color: $wel-yellow;
    }
  }
}

.profile-social-icn{
  height: 100px;

  &-separator{
    width: 250px;
  }
}

#profile-content{
  max-width: 80%;
  width: 1140px;  

  .nav-primary{
    .nav-link{
      color: $wel-black;
      border-bottom: solid 2px $wel-pink;
    
      &.active{
        color: $wel-black;
        background-color: $wel-pink;
      }

      &:hover{
        border: solid 2px $wel-pink;
      }
    }
  }

  .nav-secondary{
    .nav-link{
      color: $wel-black;
      border-bottom: solid 2px $wel-yellow;
    
      &.active{
        color: $wel-black;
        background-color: $wel-yellow;
      }

      &:hover{
        border: solid 2px $wel-yellow;
      }
    }
  }

  .profile-square{
    border: solid 2px $wel-pink;
    width: 300px;
  }

  .profile-separation{
    background-color: $wel-yellow;
    height: 2px;
    width: 50%;
  }

  .recommendation-txt{
    font-size: 22px;
  }
  
  .dashboard{
    &-split{
      background-color: $wel-blue;
      height: 1px;
      margin-top: 14px;
      width: 100%;
  
      &-lbl{
        color: $wel-blue;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.green-txt{
  color: $wel-green;
}