section#footer-content
    .container.text-center.p-2
        //- Back top of the page
        #back-top
            a.back-top-link(href="#")
                svg.back-top-shape(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path.back-top-shape-arrow(d="M37.991,31.993 L35.945,33.990 L29.500,27.701 L23.055,33.990 L21.009,31.993 L29.193,24.007 L29.500,24.306 L29.807,24.007 L37.991,31.993 Z")
        
        //- h4.p-5 Don't visit, experience paris.

        a.hidden-lg-up.pt-5(href="#") 
            img.footer-logo.pr-5.pl-5(src='images/welcom-logo-vertical-footer.svg')

        .d-flex.flex-row.justify-content-center.align-items-center.flex-wrap.pt-5#footer-link
            .p-2
                a.nav-link(href="#") Terms of use
            .p-2
                a.nav-link(href="#") Meet the team
            .p-2
                a.nav-link(href="#") Contact us
            .p-2.hidden-md-down
                a.footer-logo-link(href="#") 
                    img.footer-logo.pr-5.pl-5(src='images/welcom-logo-vertical-footer.svg')
            .p-2
                a.nav-link(href="#") Welcom ?
            .p-2
                a.nav-link(href="#") We need you !
            .p-2
                a.nav-link(href="#") Read our blog

        .d-flex.flex-row.justify-content-center.align-items-center.flex-wrap.pt-5#footer-social
            
            svg.footer-social-line.hidden-xs-down.pr-3
                line(x1="0" y1="0" x2="100%" y2="0")

            .p-2
                a.nav-link(href="#")
                    .fa.fa-facebook
            .p-2
                a.nav-link(href="#")
                    .fa.fa-twitter
            .p-2
                a.nav-link(href="#")
                    .fa.fa-instagram
            
            svg.footer-social-line.hidden-xs-down.pl-3
                line(x1="0" y1="0" x2="100%" y2="0")

        p.right-reserved.pt-5 &#x24B8; Welcom 2017. All rights reserved