#header-nav.wel-bg-white
    nav.navbar.navbar-toggleable-md.navbar-light
        .container.d-flex.justify-content-around
            button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" 
            aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon

            .p-2.hidden-sm-down
                a.navbar-brand(href="#") 
                    img.header-logo(src='images/welcom-logo.png')
            .p-3
                .collapse.navbar-collapse#navbarsExampleContainer
                    ul.navbar-nav.mr-auto.d-flex.justify-content-end
                        li.pl-3.pr-3.nav-item.active
                            a.nav-link(href="#") Join us
                        li.pl-3.pr-3.nav-item
                            a.nav-link(href="#") Learn more
                        li.pl-3.pr-3.nav-item
                            a.nav-link(href="#") Read our blog
                        li.pl-3.pr-3.nav-item
                            a.nav-link(href="#") Sign in
