nav#wel-nav-bar.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand(href="/") 
      img.header-logo(src='/images/welcom-logo-horizontal-header.svg')
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav")
      span.navbar-toggler-icon
    #navbarNav.navbar-collapse.collapse
      ul.navbar-nav.ml-auto
        li.pt-4(role="separator")
        if !locals.user
          li.nav-item.m-auto.pl-3.pr-5
            button.gradient-rounded-btn.text-uppercase.nav-link.btn.wel-bg-blue.wel-color-white(data-target="#joinus" data-toggle="modal" type="button") Join us
          li.nav-item.m-auto.pl-2.pr-2
            a.underline-yellow.text-uppercase.nav-link(href="/learnmore") Learn more
          li.nav-item.m-auto.pl-2.pr-2
            a.underline-yellow.text-uppercase.nav-link(href="/readblog") Read our blog
          if !locals.user
            li.nav-item.m-auto.pl-2.pr-2
              a.underline-yellow.text-uppercase.nav-link.text-gradient(data-target="#sign-in-modal" data-toggle="modal" href="#") Sign in
        else
          li.nav-item.m-auto.pl-3.pr-5
            a.nav-link.btn.gradient-rounded-btn.text-uppercase.wel-color-white(href="/" role="button") Experiences
          li.nav-item.m-auto.pl-2.pr-2
            a.underline-yellow.text-uppercase.nav-link(href="/readblog") Read our blog
          li.nav-item.m-auto.pl-2.pr-2
            a#message-icon.nav-link(href="#")
              .far.fa-envelope-open.fa-2x
              span.badge.badge-pill 5
          li.nav-item.m-auto.dropdown
            a#navbarDropdown.nav-link(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
              if !locals.user.profile.picture
                img#header-profile-picture.rounded-circle(src="/images/default-profile-pic.jpg")
              else
                img#header-profile-picture.rounded-circle(src=locals.user.profile.picture)

            .dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href=`/profile/${locals.user._id}`) Profile
              .dropdown-divider
              a.dropdown-item(href="/logout") Sign out

<!-- Join us Modal -->
#joinus.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header.wel-bg-blue.wel-color-yellow
        h3.modal-title.m-auto Join our travellers community
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span.wel-color-yellow(aria-hidden="true") &times;
      #joinus-modal.modal-body
        form#join-us-form.form-horizontal(name="signupForm" action="/signup" method='POST' onsubmit="return checkSignUpForm()")
          input(type='hidden', name='_csrf', value=_csrf)

          .item.text-center
            .pt-2
              input#email.form-control.form-modal.m-auto(name="email" type="email" placeholder="Your email")
              p#email-err.form-msg-error.m-auto
            .pt-4
              input#password.form-control.form-modal.m-auto(name="password" type="password" placeholder="Choose a password")
              p#password-err.form-msg-error.m-auto
            .pt-4
              input#password-confirm.form-control.form-modal.m-auto(name="password-confirm" type="password" placeholder="Confirm your password")
              p#password-confirm-err.form-msg-error.m-auto
            .pt-4.join-us-btn
              p.terms-of-use.m-auto.pb-4
                | By clicking the "Welcom !" button, you agree our Terms of Use, which you can 
                a.font-weight-bold(href='/termsofuse') read here
                | . 
              button.mt-1.mb-2(type="submit") Welcome !

          .form-group
            .m-auto
              hr
              p.text-center Or join us with :

          .form-group
            .social-btn.text-center
              .mt-2
                button.wel-bg-blue(type="submit") 
                  a(href='/auth/facebook')
                    i.wel-color-white
                      .fab.fa-facebook-f
                      | &nbsp;&nbsp; Your Facebook account                                    
              .mt-2
                button.wel-bg-pink(type="submit") 
                  a(href='/auth/twitter')
                    i.wel-color-white
                      .fab.fa-twitter
                      | &nbsp;&nbsp; Your Twitter account
              .mt-2
                button.wel-bg-yellow(type="submit") 
                  a(href='/auth/google')
                    i.wel-color-white
                      .fab.fa-google-plus-g
                      | &nbsp;&nbsp; Your Google account
              .mt-4
                a(href='#' onclick="$('#joinus').modal('hide');$('#sign-in-modal').modal('toggle');") Already a member ?

<!-- Sing in Modal -->
#sign-in-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="sign in modal")
  .modal-dialog(role="document")
    .modal-content
      .modal-header.wel-bg-blue.wel-color-yellow
        h3.modal-title.m-auto  Welcome back !
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span.wel-color-yellow(aria-hidden="true") &times;
      #sign-in-modal-body.modal-body
        form#sign-in-modal-form.form-horizontal(name="signupForm" action="/login" method='POST' onsubmit="return checkSignUpForm()")
          input(type='hidden', name='_csrf', value=_csrf)

          .item.text-center
            .pt-2
              input#email.form-control.form-modal.m-auto(name="email" type="email" placeholder="Your email")
              p#email-err.form-msg-error.m-auto
            .pt-4
              input#password.form-control.form-modal.m-auto(name="password" type="password" placeholder="Your password")
              p#password-err.form-msg-error.m-auto
            .pt-4
              input#remember-me(type="checkbox" checked)
              span.form-label &nbsp;Remember me
            .pt-4.sign-in-btn
              button.mt-1.mb-2(type="submit") Sign in
            .pt-2
              a(href='/forgot') Forgot your password ?

          .form-group
            .m-auto
              hr
              p.text-center Or sign in with :

          .form-group
            .social-btn.text-center
              .mt-2
                button.wel-bg-blue(type="submit") 
                  a(href='/auth/facebook')
                    i.wel-color-white
                      .fab.fa-facebook-f
                      | &nbsp;&nbsp; Your Facebook account                                    
              .mt-2
                button.wel-bg-pink(type="submit") 
                  a(href='/auth/twitter')
                    i.wel-color-white
                      .fab.fa-twitter
                      | &nbsp;&nbsp; Your Twitter account
              .mt-2
                button.wel-bg-yellow(type="submit") 
                  a(href='/auth/google')
                    i.wel-color-white
                      .fab.fa-google-plus-g
                      | &nbsp;&nbsp; Your Google account
              .mt-4
                a(href='#' onclick="$('#sign-in-modal').modal('hide');$('#joinus').modal('toggle');$('#joinus').modal('handleUpdate');") Not yet a member ? Join us !
