
nav#header-nav.p-0.wel-bg-white.navbar.navbar-toggleable-md.navbar-light
    .container.d-flex.justify-content-around
        button.align-items-center.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" 
        aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        .p-0.hidden-sm-down
            a.navbar-brand(href="#") 
                img.header-logo(style="width:121px;height:59px;" src='images/w-logo-hori-yellow-on-dark.svg')
        .p-0
            .collapse.navbar-collapse#navbarsExampleContainer
                ul.navbar-nav.mr-auto.d-flex.justify-content-end
                    li.pl-3.pr-3.nav-item.active
                        button.text-uppercase.nav-link.btn.wel-bg-blue.wel-color-white(type="button" style="color: white !important; width: 117px; border-radius:20px;") Join us
                        //- a.nav-link(href="#") Join us
                    li.pl-3.pr-3.nav-item
                        a.text-uppercase.nav-link(href="#") Learn more
                    li.pl-3.pr-3.nav-item
                        a.text-uppercase.nav-link(href="#") Read our blog
                    li.pl-3.pr-3.nav-item
                        a.text-uppercase.nav-link.sign-in-link(href="#") Sign in
