
nav#header-nav.p-0.wel-bg-white.navbar.navbar-toggleable-md.navbar-light
    .container.d-flex.justify-content-around
        button#nav-toggler-btn.align-items-center.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" 
        aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        .p-0.hidden-xs-down
            a.navbar-brand(href="#") 
                img.header-logo(src='images/welcom-logo-horizontal-header.svg')
        .p-0
            .collapse.navbar-collapse#navbarsExampleContainer
                ul.pt-2.pr-4.navbar-nav.mr-auto.d-flex.justify-content-end
                    li.hidden-sm-up
                        a.navbar-brand(href="#") 
                            img.header-logo(src='images/welcom-logo-horizontal-header.svg')
                    li.pl-3.pr-3.nav-item.active
                        button#join-us-btn.text-uppercase.nav-link.btn.wel-bg-blue.wel-color-white(type="button" data-toggle="modal" data-target="#joinus") Join us
                    li.pl-3.pr-3.nav-item
                        a.text-uppercase.nav-link(href="#") Learn more
                    li.pl-3.pr-3.nav-item
                        a.text-uppercase.nav-link(href="https://medium.com/@WelcomParis/") Read our blog
                    li.pl-3.pr-3.nav-item
                        a.text-uppercase.nav-link.sign-in-link(href="#" data-toggle="modal" data-target="#login") Sign in

        <!-- Join us Modal -->
        div#joinus.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        h3.modal-title.text-center Our community awaits you
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div#joinus-modal.modal-body
                        form.form-horizontal.text-center(name="signupForm" action="/signup" method='POST' onsubmit="return checkSignUpForm()")
                            input(type='hidden', name='_csrf', value=_csrf)

                            input#email.form-control.form-modal(name="email" type="email" placeholder="Email address")
                            p#email-err.form-msg-error

                            input#password.form-control.form-modal(name="password" type="password" placeholder="Password")
                            p#password-err.form-msg-error

                            input#password-confirm.form-control.form-modal(name="password-confirm" type="password" placeholder="Confirm password")
                            p#password-confirm-err.form-msg-error

                            button.btn.btn-default.btn-welcom(type="submit")
                                div#loader-sub Welcom' me

                            .form-group
                                .col-sm-offset-4.col-sm-8
                                    hr
                            .form-group
                                .col-sm-offset-4.col-sm-8
                                    a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
                                        i.fa.fa-facebook
                                            | &nbsp;Sign in with Facebook
                                    a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
                                        i.fa.fa-twitter
                                            | &nbsp;Sign in with Twitter
                                    a.btn.btn-block.btn-google.btn-social(href='/auth/google')
                                        i.fa.fa-google-plus
                                            | &nbsp;Sign in with Google

        <!-- Login Modal -->
        div#login.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        h3.modal-title.text-center We missed you
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div#login-modal.modal-body                  
                        form.form-horizontal.text-center(action="/login" method='POST')
                            input(type='hidden', name='_csrf', value=_csrf)

                            p(id="auth-err" class="form-msg-error")

                            input#email-login.form-control.form-modal(name="email" type="email" placeholder="Email")
                          
                            input#password-login.form-control.form-modal(name="password" type="password" placeholder="Password")

                            br

                            button.btn.btn-default.btn-welcom(type="submit") Welcom' back

                            br
                            input#remember-me(type="checkbox" checked)
                            span.form-label &nbsp;Remember me

                            br

                            p Don't have an account yet ?
                                span
                                    a(href="/signup") &nbsp; Join us !

                            .form-group
                                .col-sm-offset-2.col-sm-8
                                    hr
                            .form-group
                                .col-sm-offset-2.col-sm-8
                                    a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
                                        i.fa.fa-facebook &nbsp; Sign in with Facebook
                                    a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
                                        i.fa.fa-twitter &nbsp; Sign in with Twitter
                                    a.btn.btn-block.btn-google.btn-social(href='/auth/google')
                                        i.fa.fa-google-plus &nbsp; Sign in with Google
                        .modal-footer
                            a.btn.btn-block(href='/forgot') Forgot your password ?
