.card.experience-card-item
  .card-block.p-2
    .container
        .row.pt-3.pl-5.pb-4
            p.card-text Explore the wonderful Golden Triangle together
        .row.no-gutters.card-block-img-row
            .col.pt-3
                p wwwww
            .col
                img.mx-auto.d-block.rounded-circle(src="/images/default-profile-img.png" alt="...")
            .col
                span.font-italic with 
                p.p-0.m-0 Greg
  
  img.img-fluid.card-img-top(src="/images/default-img-card.jpg" alt="Card image cap")