.card.experience-card-item
  img.img-fluid.card-img-top(src="/images/default-img-card.jpg" alt="Card image cap")
  .card-block.p-2
    .container
      .row.no-gutters.card-block-img-row
        .col
          img(src="/images/yellow-star.png" alt="...")
          img(src="/images/yellow-star.png" alt="...")
          img(src="/images/yellow-star.png" alt="...")
          img(src="/images/dark-star.png" alt="...")
          img(src="/images/dark-star.png" alt="...")
        .col
          img.mx-auto.d-block.rounded-circle(src="/images/default-profile-img.png" alt="...")
        .col.exp-creator
          span.exp-creator-with with 
          p.exp-creator-name.p-0.m-0 Greg

      .row.pt-3.pl-5.pb-4
        p.card-text Explore the wonderful Golden Triangle together