.story-card
  .story-card-title
    p.myriad-pro.font-weight-bold.mb-0 The difference between a tourist and a traveller

  .story-card-link
    a.aaux-pro-regular(href="#") Read more 
    span.fa.fa-arrow-right