.card.story-card-large
    .row
        .col-6
            .story-card-large-img-cover(style="background-image: url('/images/default-story-cover.png');")
        .col-6.align-self-center.pt-5
            .card-block
                h4.card-title The Welcom' Manifesto
                p.card-text Hints: 
                p.card-text 
                    | We want to kill tourism and replace it by discovery. 
                    | A new generation of travelers arrises, curious, respectuous, 
                    | and conscient about the state of the world.

                button.btn.text-uppercase.mb-5.mt-5.wel-bg-blue.wel-color-white(type="button") Read more 
