.story-card-title-text
    .story-card-title-text-title
        p.myriad-pro.font-weight-bold The Welcom' Manifesto
    
    .story-card-title-text-text
        p.myriad-pro.mb-0
            | Hints:<br />
            | We want to kill tourism ans replace it by discovery.<br />
            | A new generation of travelers arrises, curious, respectous, and conscient about
            | the state of the world.

    .story-card-title-text-link
        a.aaux-pro-regular(href="#") Read more 
        span.fa.fa-arrow-right