.card.story-card-item
  img.story-card-item-img-top(src='/images/default-story-cover.png' alt='Card image cap')
  .card-block
    h4.story-card-item-title The Welcom' Manifesto
    //- p.card-text Hints: 
    //- p.card-text We want to kill tourism and replace it by discovery. A new generation of travelers arrises, curious, respectuous, and conscient about the state of the world.
    button.btn.text-uppercase.mb-5.mt-5.wel-bg-blue.wel-color-white(type="button") Read more 
