extends layout

block content
  //- Header image carousel
  section#header-carousel.carousel.slide(data-ride="carousel")
    .dark-opacity-overlay
    ol.carousel-indicators.align-items-center
      li.active(data-target="#header-carousel" data-slide-to="0")
      li(data-target="#header-carousel" data-slide-to="1")
      li(data-target="#header-carousel" data-slide-to="2")
      li(data-target="#header-carousel" data-slide-to="3")
      li(data-target="#header-carousel" data-slide-to="4")

    .carousel-inner(role="listbox")
      .carousel-caption.d-none.d-md-block
        h1.text-uppercase.font-weight-bold.pb-5 Feel like a parisian
        h2.font-weight-bold We are a local community dedicated to make you feel welcome in our city.
        h2.font-weight-bold Meet Parisians, share a moment, experience the real Paris.
      .carousel-item.active
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris1.png" alt="First slide")
      .carousel-item
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris2.jpg" alt="Second slide")
      .carousel-item
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris10.jpg" alt="Third slide")
      .carousel-item
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris11.jpg" alt="4 slide")
      .carousel-item
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris12.jpg" alt="5 slide")

    a.carousel-control-prev(href="#header-carousel" role="button" data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous

    a.carousel-control-next(href="#header-carousel" role="button" data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next

  //- Whant a truly Parisian experience ?
  section.wel-bg-white
    .container.text-center.p-5
      h3.pt-5 Whant a truly Parisian experience ?
      h5.pt-5 It's not about findinf the Eiffel tower, it's about living a bit of the local life whith us.
      .container.pt-5
        .d-flex.flex-row.justify-content-center.flex-wrap
          .p-3
            include components/experience-card
          .p-3
            include components/experience-card
          .p-3
            include components/experience-card

      button.btn.btn-secondary.text-uppercase.mb-5.mt-5(type="button") Browse all the experiences

  //- Learn more
  section#learn-more.wel-bg-blue.wel-color-white
    .container.text-center.pt-5
      .row.justify-content-center.pt-5
        .col-4.align-self-end.pr-5
          img.mx-auto.d-block.mb-4(src="/images/travellers-icon.png" alt="...")
          svg.svg-separate-line
            line(x1="0" y1="0" x2="100" y2="0")
          h4.pt-5 We're travellers, not tourists
          h6.pt-5 A new generation of travellers, curious and respectful. we care about living authentic experiences.
        .col-4.align-self-end.pl-5
          img.mx-auto.d-block.mb-4(src="/images/people-icon.png" alt="...")
          svg.svg-separate-line
            line(x1="0" y1="0" x2="100" y2="0")
          h4.pt-5 We like to meet people
          h6.pt-5 Travelling without meeting people is only moving. People make places, meetings make memories.
      .row.justify-content-center.pt-6.pb-6
        .col-4.align-self-end.pt-5
          img.mx-auto.d-block.mb-4(src="/images/authenticity-icon.png" alt="...")
          svg.svg-separate-line
            line(x1="0" y1="0" x2="100" y2="0")
          h4.pt-5 We live the sharing spirit
          h6.pt-5 Sharing is caring, and we care about helping travellers, because we are travellers ourselves.
        .col-4.align-self-end.pl-5
          img.mx-auto.d-block.mb-4(src="/images/help-icon.png" alt="...")
          svg.svg-separate-line
            line(x1="0" y1="0" x2="100" y2="0")
          h4.pt-5 We are a community of travellers
          h6.pt-5 We Parisian welcomers are not professionnals. We are only travellers that are home between two trips.

  //- Community says
  section#community-says.wel-bg-white
    .container.text-center.p-5
      h3.pt-5 What the community says
      h5.pt-5 We care a lot about creating a community of sharing travellers and welcomers.
      .container.pt-5
        .d-flex.flex-row.justify-content-center.flex-wrap
          .p.community-says-item
            include components/community-says
          .p.community-says-item
            include components/community-says
          .p.community-says-item
            include components/community-says

      button.btn.btn-secondary.text-uppercase.mb-5.mt-5(type="button") Join our community

  //- Our stories and vision
  section#story.wel-bg-green
    .container.text-center.p-5
      h3.pt-5 Our stories and vision
      h5.pt-5 Read more on what the Welcom' project is all about on our blog.
      .container.pt-5
        .row.justify-content-center.flex-wrap
          .col-xl-8.col-lg-8.p-4
            include components/story-card-large
        .row.justify-content-center.flex-wrap
          .col-xl-4.col-lg-4.col-md-6.p-4
            include components/story-card
          .col-xl-4.col-lg-4.col-md-6.hidden-sm-down.p-4
            include components/story-card
          //- .col-xl-3.hidden-xl-down.p-4
          //-   include components/story-card  

  //- Want to get our newsletter ?
  section#newsletter-form.wel-bg-white
    .container.text-center.p-5
      h3.pt-5 Want to get our newsletter ?
      
      .row.justify-content-center
        .col.pt-5
          label.sr-only(for="first-name-input") First name, nickname, as you prefer
          .input-group.mb-2.mr-sm-2.mb-sm-0
            .input-group-addon.wel-bg-grey-dark
              span.fa.fa-user-o.wel-color-white
            input#first-name-input(type="text" class="form-control" placeholder="First name, nickname, as you prefer")

      .row.justify-content-center
        .col.pt-5
          label.sr-only(for="email-input") Email address
          .input-group.mb-2.mr-sm-2.mb-sm-0
            .input-group-addon.wel-bg-grey-dark
              span.fa.fa-envelope-o.wel-color-white
            input#email-input(type="text" class="form-control" placeholder="Email address")

      p.mb-3.mt-5.font-italic (we don't spam, we don't sell data)
      button.btn.btn-secondary.text-uppercase.mb-5(type="button") Register

  //- Do you feel like becoming a Welcomer ?
  section#community-says.wel-bg-grey-light
    .container.text-center.p-5
      h3.pt-5 Do you feel like becoming a Welcomer ?
      p.pt-5 
        | If you live in or near Paris, are a traveller at heart and want to meet travellers from all over the world
        | to make them experience our city, please contact us and let's meet up !
      button.btn.btn-secondary.text-uppercase.mb-5.mt-5(type="button") Let's meet up

  //- We love that they do (or did)
  section#community-says.wel-bg-grey-middle-light
    .container.text-center.p-5
      h3.pt-5 We love that they do (or did)

      .d-flex.flex-row.justify-content-center.align-items-center.flex-wrap#footer-link.pt-5.pb-4
        .pl-5.pr-5.pb-4
          a(href="https://www.thefamily.co" target="_blank")
            img.mx-auto.d-block(src="/images/the-family-logo-grey.png" alt="The family")
        .pl-5.pr-5.pb-4
          a(href="https://www.airbnb.fr/" target="_blank")
            img.mx-auto.d-block(src="/images/airbnb-logo-grey.png" alt="Airbnb")
        .pl-5.pr-5.pb-4
          a(href="https://www.uber.com" target="_blank")
            img.mx-auto.d-block(src="/images/uber-logo-grey.png" alt="Uber")
        .pl-5.pr-5.pb-4
          a(href="https://www.agorize.com" target="_blank")
            img.mx-auto.d-block(src="/images/agorize-logo-grey.png" alt="Agorize")
        .pl-5.pr-5.pb-4
          a(href="http://www.lafrenchtech.com/" target="_blank")
            img.mx-auto.d-block(src="/images/la-french-tech-logo-grey.png" alt="La french tech")

//- Javascript
block js
  script.
    $('#carouselIndicators').carousel({
        interval: 50000
    });