extends layout

block content
  //- Header image carousel
  section#header-carousel.carousel.slide(data-ride="carousel")
    //- .dark-opacity-overlay
    ol.carousel-indicators.align-items-center
      li.active(data-target="#header-carousel" data-slide-to="0")
      li(data-target="#header-carousel" data-slide-to="1")
      li(data-target="#header-carousel" data-slide-to="2")
      li(data-target="#header-carousel" data-slide-to="3")
      li(data-target="#header-carousel" data-slide-to="4")

    .carousel-inner(role="listbox")
      .carousel-caption
        h1.font-weight-bold.pb-5 Feel like a parisian!
        h2.font-weight-bold We are a local community dedicated to make you feel welcome in our city.
        h2.font-weight-bold Meet Parisians, share a moment, experience the real Paris.
        .row.justify-content-center
          button.text-uppercase.nav-link.btn.wel-bg-blue.wel-color-white(type="button") Join us
      .carousel-item.active
        .dark-opacity-overlay
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris13.jpg" alt="First slide")  
      .carousel-item
        .dark-opacity-overlay
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris13.jpg" alt="Second slide")
      .carousel-item
        .dark-opacity-overlay
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris13.jpg" alt="Third slide")
      .carousel-item
        .dark-opacity-overlay
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris13.jpg" alt="4 slide")
      .carousel-item
        .dark-opacity-overlay
        img.mx-auto.d-block.header-carousel-img(src="/images/photo-paris13.jpg" alt="5 slide")

    a.carousel-control-prev(href="#header-carousel" role="button" data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous

    a.carousel-control-next(href="#header-carousel" role="button" data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next

  //- Whant a truly Parisian experience ?
  section#experiences.wel-bg-white
    .container.text-center.p-5
      h2.pt-5 Whant a truly 
      h2 Parisian experience ?
      h4.pt-5 It's not about findinf the Eiffel Tower,
      h4 it's about living a bit of the local life whith us.
      .container.pt-5
        .d-flex.flex-row.justify-content-center.flex-wrap
          .p-3
            include components/experience-card
          .p-3
            include components/experience-card
          .p-3
            include components/experience-card

      button.btn.btn-secondary.text-uppercase.mb-5.mt-5.wel-bg-blue.wel-color-white(type="button") Browse all

  //- Learn more
  section#learn-more.wel-bg-blue.wel-color-white
    .container.text-center.pt-5
      h2.pt-5 Learn more about Welcom'
      .row.justify-content-center.pt-5.pb-5
        .col-3.mw.pb-5.pr-5.pl-5
          img.mx-auto.d-block(src="/images/icon-travellers-not-tourists.png" alt="...")
          .learn-more-title
            h4.pt-2 We're travellers, 
            h4 not tourists
          h6.pt-5 A new generation of travellers, curious and respectful. we care about living authentic experiences.
        .col-3.mw.pb-5.pr-5.pl-5
          img.mx-auto.d-block(src="/images/icon-sharing-spirit.png" alt="...")
          .learn-more-title
            h4.pt-2 We live 
            h4 the sharing spirit
          h6.pt-5 Sharing is caring, and we care about helping travellers, because we are travellers ourselves.
        .col-3.mw.pb-5.pr-5.pl-5
          img.mx-auto.d-block(src="/images/icon-meet-people.png" alt="...")
          .learn-more-title
            h4.pt-2 We like 
            h4 to meet people
          h6.pt-5 Travelling without meeting people is only moving. People make places, meetings make memories.
        .col-3.mw.pb-5.pr-5.pl-5
          img.mx-auto.d-block(src="/images/icon-soucoupe-community.png" alt="...")
          .learn-more-title
            h4.pt-2 We are a community 
            h4 of travellers
          h6.pt-5 We Parisian welcomers are not professionnals. We are only travellers that are home between two trips.

  //- Community says
  section#community-says.wel-bg-white
    .container.text-center.p-5
      h2.pt-5 What the community says
      h4.pt-5.pb-5 We care a lot about creating a community of sharing travellers and welcomers.
      .container.pt-5
        .d-flex.flex-row.justify-content-center.flex-wrap
          .p.community-says-item
            include components/community-says
          .p.community-says-item
            include components/community-says
          .p.community-says-item
            include components/community-says

      button.mt-6.mb-6.text-uppercase(type="button") Join us


  section#multi-part
    .d-flex.flex-row.flex-wrap

      //- Do you feel like becoming a Welcomer ?
      .item.item-becoming-welcomer.text-center.p-6
        h2 Do you feel like becoming a Welcomer ?
        p.pt-5
          | If you live in or near Paris, are a traveller at heart and want 
          | to meet travellers from all over the world to make them 
          | experience our city, please contact us and let's meet up !
        
        button.mt-6.mb-5.text-uppercase(type="button") Let's meet up

      //- Want to get our newsletter ?
      .item.item-newsletter.text-center.p-6
        h2 Want to get our newsletter ?
        div.pt-4
          input(name: "first-name" placeholder="First name")
        div.pt-4
          input(name: "email" placeholder="E-mail")

        p.pt-3 (we don't spam, we don't sell data)

        button.mt-1.mb-5.text-uppercase(type="button") Register

      //- Our stories and vision
      .item.item-stories.p-6.text-center
        .p-0
          h2 Our stories and vision
          h5.pt-2 Read more on what the Welcom' project is all about on our blog.

          .pt-5
            include components/story-card-title-text

          .pt-5
            include components/story-card-title

          .pt-5
            include components/story-card-title

          .pt-5
            include components/story-card-title

      .item.item-img

  //- We love that they do (or did)
  section#we-love-that-they-do.wel-bg-grey-middle-light
    .container.text-center.p-5
      h2.pt-5.pb-5 We love that they do (or did)

      .d-flex.flex-row.justify-content-center.align-items-center.flex-wrap#footer-link.pt-5.pb-5
        .pl-5.pr-5.pb-4
          a(href="https://www.thefamily.co" target="_blank")
            img.mx-auto.d-block(src="/images/the-family-logo-grey.png" alt="The family")
        .pl-5.pr-5.pb-4
          a(href="https://www.airbnb.fr/" target="_blank")
            img.mx-auto.d-block(src="/images/airbnb-logo-grey.png" alt="Airbnb")
        .pl-5.pr-5.pb-4
          a(href="https://www.uber.com" target="_blank")
            img.mx-auto.d-block(src="/images/uber-logo-grey.png" alt="Uber")
        .pl-5.pr-5.pb-4
          a(href="https://www.agorize.com" target="_blank")
            img.mx-auto.d-block(src="/images/agorize-logo-grey.png" alt="Agorize")
        .pl-5.pr-5.pb-4
          a(href="http://www.lafrenchtech.com/" target="_blank")
            img.mx-auto.d-block(src="/images/la-french-tech-logo-grey.png" alt="La french tech")

//- Javascript
block js
  script.
    $('#carouselIndicators').carousel({
        interval: 50000
    });