extends layout

block content
    section#header-carousel.carousel.slide(data-ride="carousel")
        .carousel-inner(role="listbox")
            .carousel-caption
                h1.font-weight-bold.pb-5.name Thomasson
            .carousel-item.active
                .dark-opacity-overlay
                div.img-back

        section.avatar-logo
            div.pic.logo

    section.social-network
        div
            a.facebook(href='#')
            a.instagram(href='#')
        div
            a.twitter(href='#')
            a.darkHeart(href='#')

    section.desc
        span.www W W W W W
        p.para A cool 27 years old traveller from Copenhagen, Denmark.
            br
            | He speaks Danish and English, and he learns Spanish.

    ul.nav.justify-content-center(role='tablist')
        li.nav-item
            a.nav-link.active(href='#profile', role='tab', data-toggle='tab') Profile
        li.nav-item
            a.nav-link(href='#reviews', role='tab', data-toggle='tab') Reviews
        li.nav-item
            a.nav-link(href='#experiences', role='tab', data-toggle='tab') Experiences

    .tab-content
        #profile.tab-pane.fade.in.active(role='tabpanel')
            section.laius
                p.intro So this is a small text to introduce the traveller, a hook, a short laius.
                    br
                    | or three lines should be enough, it's just to say a quick
                    br
                    | "hello, here's why you should meet me".
                div.likes
                    div.like
                        span Pizza
                    div.like
                        span History
                p.text
                    span What i want to share with the community :
                    br
                    | ready to share my cooking skills, love of travels, and debate competittrisation like a MOF.

                hr.exposed.little

                p.text
                    span About me :
                    br
                    | This should be a longer text, from 400 up yo 2000 characters, describing in extenso the traveller
                    br
                    | and what he/she wants to say. This should be a longer text, from 400 up yo 2000 characters,
                    br
                    | describing in extenso the traveller and what he/she wants to say.

                    br
                    | This should be a longer text, from 400 up yo 2000 characters, describing in extenso the traveller
                    br
                    | and what he/she wants to say. This should be a longer text, from 400 up yo 2000 characters,
                    br
                    | describing in extenso the traveller and what he/she wants to say.
                    br
                    | It should include some text management tool if possible.

            section.management-tools
                section.management
                    h4 The trips I lived
                    p I've been to India (Kerala and
                        br
                        | Bengalore), to France, mostly Paris and
                        br
                        | Nice, and i know my country pretty
                        br
                        | well too.
                section.management
                    h4 The trips I lived
                    p I've been to India (Kerala and
                        br
                        | Bengalore), to France, mostly Paris and
                        br
                        | Nice, and i know my country pretty
                        br
                        | well too.


        #reviews.tab-pane.fade(role='tabpanel')
            section.reviews
                section.desc
                    p.para Really really happy that the travellers i meet from all over the world like
                        br
                        | my experiences that much ! It's perfect
                section.review
                    div.picture
                    section.commentary
                        span.title Pablo di Iglesias Glasses, from Hambourg, Germany :
                        img(src='/images/yellow-star.png' alt='Image Title')
                        p It was a super greate time under Paris' best weather ! Thank you a lot
                            br
                            | It was a super greate time under Paris' best weather ! Thank you a lot
        #experiences.tab-pane.fade(role='tabpanel')
            section.exp
                p
                    | Thomasson is a
                    span.www  W W W W W
                    |  welcomer !
                    br
                    br
                    | I'm so proud to be a welcomer ! So much to do in my city, but what I prefer is to do that and that and this with beers and flowers.
            .container.pt-5
                .d-flex.flex-row.justify-content-center.flex-wrap
                    .p-3
                        include components/experience-card
                    .p-3
                        include components/experience-card
                    .p-3
                        include components/experience-card

    hr.exposed.longer

    section.contact
        span.request Wish to have a chat ?
        button.contact Contact me