@charset "UTF-8";
/************** This file import all scss files and override bootstrap css ************/
/************** This file define generic classes for welcom ***************/
/************** This file define colors use for welcom ***************/
.wel-bg-white {
  background-color: #ffffff; }

.wel-bg-blue {
  background-color: #0a1235; }

.wel-bg-pink {
  background-color: #dc5770; }

.wel-bg-yellow {
  background-color: #ffd14e; }

.wel-bg-grey-dark {
  background-color: #161616; }

.wel-bg-grey-light {
  background-color: #f4f4f4; }

.wel-bg-grey-middle-light {
  background-color: #ebebeb; }

.wel-bg-grey {
  background-color: #868686; }

.wel-color-white {
  color: #ffffff; }

.wel-color-blue-night {
  color: #0a1235; }

.wel-color-yellow {
  color: #ffd14e; }

.wel-color-grey {
  color: #7c8695; }

.wel-color-grey-dark {
  color: #565a5c; }

.wel-border-bottom-grey {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625); }

.wel-border-top-grey {
  border-top: 1px solid rgba(0, 0, 0, 0.0625) !important; }

.fw-500 {
  font-weight: 500; }

.fsz-xs {
  font-size: .75rem; }

.fsz-sm {
  font-size: .87rem; }

button {
  cursor: pointer; }

.gradient-rounded-btn {
  font-size: 13,76pt;
  background: linear-gradient(to right, #dc5770, #0a1235);
  color: white !important;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: calc(100% + 20px); }

.gradient-rounded-btn:active {
  background: linear-gradient(to right, #dc5770, #0a1235) !important; }

.text-gradient {
  font-family: 'Aaux ProBlack', serif;
  background: linear-gradient(to right, #dc5770, #0a1235);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/************** Welcom Custom Button ***************/
.btn-wel-pink {
  color: #ffffff;
  background-color: #dc5770;
  border-color: #d8425e; }
  .btn-wel-pink:hover {
    color: #ffffff;
    background-color: #d32d4c;
    border-color: #bf2844; }
  .btn-wel-pink:active, .btn-wel-pink.active {
    background-color: #d32d4c;
    border-color: #bf2844; }
  .btn-wel-pink:focus, .btn-wel-pink.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 87, 112, 0.5) !important; }

.btn-wel-blue {
  color: #ffffff;
  background-color: #0a1235;
  border-color: #060b20; }
  .btn-wel-blue:hover {
    color: #ffffff;
    background-color: #060b20;
    border-color: #02030a; }
  .btn-wel-blue:active, .btn-wel-blue.active {
    background-color: #060b20;
    border-color: #02030a; }
  .btn-wel-blue:focus, .btn-wel-blue.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(10, 18, 53, 0.5) !important; }

.btn-wel-yellow {
  color: #000000;
  background-color: #ffd14e;
  border-color: #ffca35; }
  .btn-wel-yellow:hover {
    color: #000000;
    background-color: #ffc41b;
    border-color: #ffbd02; }
  .btn-wel-yellow:active, .btn-wel-yellow.active {
    background-color: #ffc41b;
    border-color: #ffbd02; }
  .btn-wel-yellow:focus, .btn-wel-yellow.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 209, 78, 0.5) !important; }

/************** This file define colors use for welcom ***************/
/*************** Header Image Carousel ***********************************/
#header-carousel .dark-opacity-overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: linear-gradient(to right, #dc5770, #0a1235);
  mix-blend-mode: multiply; }

#header-carousel .carousel-control-prev,
#header-carousel .carousel-control-next {
  z-index: 5; }

#header-carousel .header-carousel-img {
  width: 100vw;
  height: auto;
  max-height: 800px;
  min-height: 450px;
  -o-object-fit: cover;
  object-fit: cover; }

#header-carousel .carousel-indicators li {
  border-radius: 20px;
  max-width: 20px;
  height: 20px;
  background-color: rgba(255, 209, 78, 0.5); }
  #header-carousel .carousel-indicators li.active {
    border-radius: 25px;
    max-width: 25px;
    height: 25px;
    background-color: #ffd14e; }

#header-carousel .carousel-caption h1, #header-carousel .carousel-caption h2 {
  font-family: 'Aaux ProLight'; }

#header-carousel .carousel-caption button {
  background-color: transparent;
  color: white !important;
  border: 2px #FFF solid;
  border-radius: 25px;
  width: 170px;
  height: 50px; }

@media (min-width: 1001px) {
  #header-carousel .carousel-caption {
    top: 20%; }
    #header-carousel .carousel-caption h1 {
      font-size: 4em;
      font-weight: normal; }
    #header-carousel .carousel-caption h2 {
      font-size: 1.2em; }
    #header-carousel .carousel-caption button {
      margin-top: 50px; } }

@media (max-width: 1000px) {
  #header-carousel .carousel-caption {
    top: 15%; }
    #header-carousel .carousel-caption h1 {
      font-size: 4em;
      font-weight: normal; }
    #header-carousel .carousel-caption h2 {
      font-size: 1.2em; }
    #header-carousel .carousel-caption button {
      margin-top: 50px; } }

@media (max-width: 850px) {
  #header-carousel .carousel-caption {
    top: 10%; }
    #header-carousel .carousel-caption h1 {
      font-size: 3em;
      font-weight: normal; }
    #header-carousel .carousel-caption h2 {
      font-size: 1em; }
    #header-carousel .carousel-caption button {
      margin-top: 50px; } }

@media (max-width: 550px) {
  #header-carousel .carousel-caption {
    top: 5%; }
    #header-carousel .carousel-caption h1 {
      font-size: 3em;
      font-weight: normal; }
    #header-carousel .carousel-caption h2 {
      font-size: 1em; }
    #header-carousel .carousel-caption button {
      margin-top: 25px; } }

/*************** Whant a truly Parisian experience ? *********************/
#experiences button {
  width: 175px;
  border-radius: 25px;
  height: 50px;
  font-family: "Aaux ProBold";
  border: none; }

#experiences .experiences-btn {
  background-color: #0a1235;
  color: #ffffff !important;
  border: 2px #ffffff solid;
  text-decoration: none;
  border-radius: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px; }

/*************** Learn more **********************************************/
#learn-more img {
  width: 100px;
  height: 100px; }

#learn-more .learn-more-title {
  height: 75px; }

#learn-more .mw {
  max-width: 275px;
  min-width: 250px; }

#learn-more .svg-separate-line {
  width: 100px;
  height: 5px; }
  #learn-more .svg-separate-line line {
    stroke: #ffd14e;
    stroke-width: 5px; }

/*************** Community says ******************************************/
#community-says .community-says-item {
  max-width: 350px; }

#community-says button {
  background-color: transparent;
  color: #dc5770 !important;
  border: 2px #dc5770 solid;
  border-radius: 25px;
  width: 170px;
  height: 50px; }

/*************** Multi part : ********************************************/
/*************** Want to get our newsletter ? ****************************/
/*************** Do you feel like becoming a Welcomer ? ******************/
/*************** Our stories and vision **********************************/
#multi-part .item-becoming-welcomer {
  height: 400px;
  background: linear-gradient(to right, #dc5770, #ffd14e);
  color: white; }
  #multi-part .item-becoming-welcomer button {
    background-color: transparent;
    color: white !important;
    border: 2px white solid;
    border-radius: 25px;
    width: 170px;
    height: 50px; }
  #multi-part .item-becoming-welcomer a {
    background-color: transparent;
    color: white !important;
    border: 2px white solid;
    border-radius: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px; }
  #multi-part .item-becoming-welcomer p, #multi-part .item-becoming-welcomer h2 {
    width: 350px;
    margin: auto; }

#multi-part .item-newsletter {
  height: 400px;
  background-color: white; }
  #multi-part .item-newsletter button {
    background-color: #dc5770;
    color: white !important;
    border: none;
    border-radius: 25px;
    width: 170px;
    height: 50px; }
  #multi-part .item-newsletter input {
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 350px; }
  #multi-part .item-newsletter input::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Aaux ProLight', serif; }
  #multi-part .item-newsletter input:-ms-input-placeholder {
    text-align: center;
    font-family: 'Aaux ProLight', serif; }
  #multi-part .item-newsletter input::-ms-input-placeholder {
    text-align: center;
    font-family: 'Aaux ProLight', serif; }
  #multi-part .item-newsletter input::placeholder {
    text-align: center;
    font-family: 'Aaux ProLight', serif; }

#multi-part .item-stories {
  height: 650px;
  background-color: white; }

#multi-part .item-img {
  height: 650px;
  background: url("/images/people-walking-street.png");
  background-size: cover; }

@media (min-width: 992px) {
  #multi-part .item {
    width: 50%; } }

@media (max-width: 991px) {
  #multi-part .item {
    width: 100%; }
  #multi-part .item-stories {
    order: 4; } }

@media (max-width: 576px) {
  #multi-part .item-stories {
    height: auto; } }

/*************** We love that they do (or did) ***************************/
#we-love-that-they-do img {
  height: 40px; }

@font-face {
  font-family: "AAUX Problack";
  src: url("/font/AAUX Problack.ttf"); }

@font-face {
  font-family: "AAUX Probold";
  src: url("/font/AAUX Probold.ttf"); }

@font-face {
  font-family: "AAUX Prolight";
  src: url("/font/AAUX Prolight.ttf"); }

@font-face {
  font-family: "AAUX Promedium";
  src: url("/font/AAUX Promedium.ttf"); }

@font-face {
  font-family: "AAUX Proregular";
  src: url("/font/AAUX Proregular.ttf"); }

@font-face {
  font-family: "Gotham-Bold";
  src: url("/font/GothamBold.otf"); }

@font-face {
  font-family: "Gotham-Light";
  src: url("/font/GothamLight.otf"); }

.footer-content {
  max-width: 80%;
  width: 1000px; }
  .footer-content h4 {
    font-weight: bold; }

@media (min-width: 1200px) {
  .meet-team-img {
    width: 350px; }
  .meet-team-desc {
    width: 550px; } }

@media (min-width: 992px) {
  .meet-team-img {
    width: 350px; }
  .meet-team-desc {
    width: 350px; } }

@media (min-width: 768px) {
  .meet-team-img {
    width: 450px; }
  .meet-team-desc {
    width: 450px; } }

@media (min-width: 576px) and (max-width: 767px) {
  p {
    margin-left: 5%;
    margin-right: 5%; }
  .img-jb-tiyo {
    max-width: 95%; }
  .meet-team-img {
    width: 350px; }
  .meet-team-desc {
    width: 350px; } }

@media (max-width: 575px) {
  p {
    margin-left: 5%;
    margin-right: 5%; }
  .img-jb-tiyo {
    max-width: 95%; }
  .meet-team-img {
    width: 350px; }
  .meet-team-desc {
    width: 350px; } }

.contact-us-form input {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 350px; }

.contact-us-form input::-webkit-input-placeholder, .contact-us-form textarea::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

.contact-us-form input:-ms-input-placeholder, .contact-us-form textarea:-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

.contact-us-form input::-ms-input-placeholder, .contact-us-form textarea::-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

.contact-us-form input::placeholder, .contact-us-form textarea::placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

.contact-us-btn button {
  background-color: #dc5770;
  color: white !important;
  border: none;
  border-radius: 25px;
  width: 170px;
  height: 50px; }

.need-you-img {
  width: 400px;
  max-width: 100%; }

.joinus-btn {
  background-color: transparent;
  color: #dc5770 !important;
  border: 2px #dc5770 solid;
  border-radius: 25px;
  width: 170px;
  height: 50px; }

.img-header-content {
  max-height: 500px; }

.img-header-profile {
  width: 100vw;
  height: auto;
  max-height: 500px;
  min-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom; }

.img-profile {
  height: 1px;
  width: 200px; }
  .img-profile-picture {
    height: 200px;
    width: 200px;
    top: -200px;
    position: relative; }
  .img-profile-edit-picture {
    height: 200px;
    width: 200px;
    top: -100px;
    position: relative; }
  .img-profile-pic-upload {
    top: -235px;
    left: 45px;
    width: 110px;
    height: 70px;
    position: relative;
    border-radius: 50%;
    color: #ffd14e; }
    .img-profile-pic-upload:hover {
      color: #ffd14e; }
  .img-profile-cover-upload {
    width: 110px;
    height: 70px;
    bottom: 285px;
    left: calc((100% - 110px) / 2);
    position: relative;
    border-radius: 50%;
    color: #ffd14e; }
    .img-profile-cover-upload:hover {
      color: #ffd14e; }

.profile-social-icn {
  height: 100px; }
  .profile-social-icn-separator {
    width: 250px; }

#profile-content {
  max-width: 80%;
  width: 1140px; }
  #profile-content .nav-primary .nav-link {
    color: #000000;
    border-bottom: solid 2px #dc5770; }
    #profile-content .nav-primary .nav-link.active {
      color: #000000;
      background-color: #dc5770; }
    #profile-content .nav-primary .nav-link:hover {
      border: solid 2px #dc5770; }
  #profile-content .nav-secondary .nav-link {
    color: #000000;
    border-bottom: solid 2px #ffd14e; }
    #profile-content .nav-secondary .nav-link.active {
      color: #000000;
      background-color: #ffd14e; }
    #profile-content .nav-secondary .nav-link:hover {
      border: solid 2px #ffd14e; }
  #profile-content .profile-square {
    border: solid 2px #dc5770;
    width: 300px; }
  #profile-content .profile-separation {
    background-color: #ffd14e;
    height: 2px;
    width: 50%; }
  #profile-content .recommendation-txt {
    font-size: 22px; }
  #profile-content .dashboard-split {
    background-color: #0a1235;
    height: 1px;
    margin-top: 14px;
    width: 100%; }
    #profile-content .dashboard-split-lbl {
      color: #0a1235;
      font-size: 18px;
      font-weight: bold; }

.green-txt {
  color: #41b866; }

#profile-edit-content {
  max-width: 80%;
  width: 1140px; }
  #profile-edit-content .form-separation {
    background-color: #ffd14e;
    height: 2px;
    width: 50%; }

#tags-container .tags-item {
  height: 45px; }
  #tags-container .tags-item button {
    height: 44px;
    width: 50px; }

#profile-carousel carousel-caption {
  height: 0px; }

#exp-content {
  max-width: 80%;
  width: 1140px; }
  #exp-content .form-separation {
    background-color: #ffd14e;
    height: 2px;
    width: 50%; }

#tags-container .tags-item {
  height: 45px; }
  #tags-container .tags-item button {
    height: 44px;
    width: 50px; }

#exp-carousel carousel-caption {
  height: 0px; }

.exp-carousel-img-header {
  width: 100vw;
  height: auto;
  max-height: 500px;
  min-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom; }

.exp-carousel-cover-upload {
  width: 110px;
  height: 70px;
  bottom: 285px;
  left: calc((100% - 110px) / 2);
  position: relative;
  border-radius: 50%;
  color: #ffd14e; }
  .exp-carousel-cover-upload:hover {
    color: #ffd14e; }

#exp-view-content {
  max-width: 95%;
  width: 1140px; }
  #exp-view-content .exp-view-border-container {
    border: solid 2px #868686;
    border-radius: 10px;
    background-color: #f4f4f4;
    min-width: 330px; }
    #exp-view-content .exp-view-border-container-input, #exp-view-content .exp-view-border-container-label {
      max-width: 125px; }
  #exp-view-content-recommendation-component p {
    color: #dc5770;
    font-size: 1.4rem; }
  #exp-view-content-component-container {
    min-width: 330px; }
  #exp-view-content .exp-view-separation {
    background-color: #ffd14e;
    height: 2px;
    width: 50%; }
  #exp-view-content .exp-view-separation-grey {
    background-color: #f4f4f4;
    height: 2px;
    width: 50%; }

/************** This file define colors use for welcom ***************/
#header-nav-btn {
  top: 30px; }

#wel-nav-bar {
  background-color: #ffffff; }
  #wel-nav-bar a {
    color: #000000; }
  #wel-nav-bar .header-logo {
    height: 75px; }
  #wel-nav-bar .underline-yellow {
    border-bottom: solid 3px;
    border-bottom-color: #ffffff; }
    #wel-nav-bar .underline-yellow:hover {
      border-bottom-color: #ffd14e; }
  #wel-nav-bar #header-profile-picture {
    width: 75px;
    height: 75px; }
  #wel-nav-bar #message-icon .badge {
    background-color: #ffd14e;
    margin-left: -10px;
    display: inline; }

#joinus-modal #join-us-form input {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 80%; }

#joinus-modal #join-us-form input::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#joinus-modal #join-us-form input:-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#joinus-modal #join-us-form input::-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#joinus-modal #join-us-form input::placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#joinus-modal #join-us-form a {
  border: none;
  color: #000000; }

#joinus-modal #join-us-form .join-us-btn button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #dc5770;
  border-radius: 25px;
  font-weight: bold;
  width: 170px;
  height: 50px; }

#joinus-modal #join-us-form .terms-of-use {
  width: 80%; }

#joinus-modal #join-us-form hr {
  height: 3px;
  color: #ffd14e;
  background-color: #ffd14e;
  border: none;
  width: 60%; }

.social-btn button {
  border: none;
  border-radius: 25px;
  width: 80%;
  height: 50px; }

.social-btn a {
  border-radius: 25px;
  width: 80%;
  height: 50px;
  line-height: 35px; }

.social-btn i {
  font-weight: bold !important; }

.social-btn .social-link {
  color: #000000; }

#sign-in-modal-form input:not(#remember-me) {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 80%; }

#sign-in-modal-form input::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#sign-in-modal-form input:-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#sign-in-modal-form input::-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#sign-in-modal-form input::placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#sign-in-modal-form a {
  border: none;
  color: #000000; }

#sign-in-modal-form .sign-in-btn button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #dc5770;
  border-radius: 25px;
  font-weight: bold;
  width: 170px;
  height: 50px; }

#sign-in-modal-form .social-btn button {
  border: none;
  border-radius: 25px;
  width: 80%;
  height: 50px; }

#sign-in-modal-form .social-btn i {
  font-weight: bold !important; }

#sign-in-modal-form hr {
  height: 3px;
  color: #ffd14e;
  background-color: #ffd14e;
  border: none;
  width: 60%; }

.wel-counter-dropdown-icon {
  color: #868686;
  display: block;
  line-height: 65px;
  min-height: 65px;
  padding: 0 15px; }

.wel-counter-dropdown-counter {
  background-color: #ffd14e;
  border-radius: 50px;
  color: #000000;
  font-size: 10px;
  line-height: 1;
  padding: 5px 7.5px;
  position: absolute;
  left: 50px;
  top: 15px;
  font-weight: bold; }

.wel-counter-dropdown a {
  text-decoration: none; }

.wel-counter-dropdown-content {
  min-width: 350px;
  padding: 0;
  left: auto;
  right: 0; }
  .wel-counter-dropdown-content-title {
    color: #000000;
    font-weight: 600;
    font-size: .87rem; }
  .wel-counter-dropdown-content-angle-ico {
    top: 6px;
    position: relative; }
  .wel-counter-dropdown-content-item {
    overflow: hidden;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    font-size: .87rem;
    list-style: none;
    position: relative;
    overflow-y: auto; }
    .wel-counter-dropdown-content-item a:hover {
      background-color: #f4f4f4; }
    .wel-counter-dropdown-content-item-peers {
      text-decoration: none;
      box-sizing: border-box;
      height: auto;
      max-width: 100%;
      margin: 0;
      padding: 0; }
    .wel-counter-dropdown-content-item-peer {
      display: block;
      height: auto;
      flex: 0 0 auto; }
      .wel-counter-dropdown-content-item-peer img {
        max-width: none;
        width: 3rem;
        height: 50px;
        width: 50px; }
      .wel-counter-dropdown-content-item-peer-greed {
        flex: 1 1 auto; }

/************** This file define colors use for welcom ***************/
#footer-content {
  background-color: #0a1235; }
  #footer-content #back-top .back-top-shape {
    width: 61px;
    height: 61px; }
    #footer-content #back-top .back-top-shape-arrow {
      fill-rule: evenodd;
      fill: #ffffff; }
  #footer-content .footer-logo {
    height: 120px; }
  #footer-content a, #footer-content p {
    color: #ffffff; }
  #footer-content h4 {
    color: #ffd14e; }
  #footer-content #footer-link a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-bottom: solid 3px;
    border-bottom-color: #0a1235; }
    #footer-content #footer-link a:hover:not(.footer-logo-link) {
      color: #ffffff;
      border-bottom-color: #ffd14e; }
  #footer-content #footer-social a {
    width: 50px;
    height: 50px; }
    #footer-content #footer-social a .fa {
      font-size: 1.7em; }
      #footer-content #footer-social a .fa.fa-facebook {
        margin-left: -2px; }
      #footer-content #footer-social a .fa.fa-twitter {
        margin-left: -6px; }
      #footer-content #footer-social a .fa.fa-instagram {
        margin-left: -5px; }
    #footer-content #footer-social a:hover .fa {
      color: #ffd14e; }
  #footer-content #footer-social .footer-social-line {
    height: 4px;
    width: 25%;
    max-width: 350px; }
    #footer-content #footer-social .footer-social-line line {
      stroke: #868686;
      stroke-width: 4px; }
  #footer-content .right-reserved {
    color: #868686; }

/************** This file define colors use for welcom ***************/
.recommendation hr {
  background-color: #ebebeb !important;
  width: 100% !important;
  height: 1px !important; }

.recommendation-profile-pic {
  height: 150px;
  width: 150px; }

.recommendation-answer {
  margin-left: 200px; }
  .recommendation-answer-profile-pic {
    height: 125px;
    width: 125px; }

#experience-card {
  color: #000000;
  text-decoration: none; }

.experience-card-item {
  width: 20rem; }
  .experience-card-item-title {
    height: 75px; }
  .experience-card-item .card-block {
    background-color: #ebebeb; }
    .experience-card-item .card-block .card-text {
      font-family: "Aaux ProMedium";
      font-size: 1rem; }
    .experience-card-item .card-block-img-row {
      height: 100px;
      margin-bottom: -55px; }
      .experience-card-item .card-block-img-row .rounded-circle {
        border: 5px solid #ebebeb;
        width: 120px;
        height: 120px;
        margin-top: -60px; }
      .experience-card-item .card-block-img-row .exp-creator {
        width: 180px; }
        .experience-card-item .card-block-img-row .exp-creator-name {
          font-family: "Aaux ProBold";
          font-size: 1rem;
          line-height: 1.1rem;
          word-break: break-all;
          margin-top: -7px; }
        .experience-card-item .card-block-img-row .exp-creator-with {
          font-family: "Aaux ProRegular";
          font-size: 0.8rem;
          vertical-align: text-top; }
  .experience-card-item-reco-nb {
    padding-right: 5px;
    font-size: 1.2rem;
    color: #dc5770;
    vertical-align: super;
    display: inline-block; }
  .experience-card-item-reco-ico {
    color: #dc5770; }
  .experience-card-item-paying-ico {
    width: 2em; }

/************** This file define colors use for welcom ***************/
#community-says .rounded-circle {
  position: relative; }

#community-says .community-says-item img {
  width: 140px;
  height: 140px; }

#community-says .community-says-item .community-say-item-from {
  width: 50%; }
  #community-says .community-says-item .community-say-item-from p {
    text-align: left; }

#community-says .community-says-item .community-say-item-detail {
  width: 215px; }

#community-says .community-says-item .svg-quote {
  width: 44px;
  height: 37px; }
  #community-says .community-says-item .svg-quote .svg-quote-path {
    fill: #dc5770;
    fill-rule: evenodd; }

/************** This file define colors use for welcom ***************/
.story-card-title-text-title p {
  font-size: 1.3rem; }

.story-card-title-text-text p {
  font-size: 1rem; }

.story-card-title-text-link a {
  color: #dc5770;
  text-decoration: none; }

.story-card-title-text-link .fa {
  color: #dc5770; }

/************** This file define colors use for welcom ***************/
.story-card-title p {
  font-size: 1.1rem; }

.story-card-link a {
  color: #dc5770;
  text-decoration: none; }

.story-card-link .fa {
  color: #dc5770; }

/************** This file define colors use for welcom ***************/
.experience-card {
  border: solid 1px #ebebeb;
  height: 250px; }
  .experience-card-form {
    border: solid 1px #dc5770;
    height: 450px; }
    .experience-card-form-container {
      max-width: 425px; }
      .experience-card-form-container label {
        font-size: 1.5rem; }
  .experience-card-left-container {
    padding-left: 10px; }
  .experience-card-pic {
    width: 200px; }
  .experience-card-cover-pic {
    width: 300px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom;
    object-position: bottom;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb; }
  .experience-card-action {
    border-bottom: solid 1px #ebebeb;
    border-left: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb; }
  .experience-card .vertical-separation {
    width: 1px;
    height: 90%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-left: solid 3px #ebebeb; }
  .experience-card-msg {
    border: solid 1px #ebebeb; }

@media (min-width: 280px) {
  .become-welcomer-content-img {
    width: 250px; } }

@media (min-width: 450px) {
  .become-welcomer-content-img {
    width: 400px; } }

@media (min-width: 576px) {
  .become-welcomer-content-img {
    width: 400px; } }

@media (min-width: 768px) {
  .become-welcomer-content-img {
    width: 600px; } }

@media (min-width: 992px) {
  .become-welcomer-content-img {
    width: 100%;
    max-width: 600px; } }

.become-welcomer-log-content {
  width: 50%;
  border: solid 2px black;
  border-radius: 20px; }

#experience-list-container {
  max-width: 80%;
  width: 1140px; }
  #experience-list-container .experience-list-ico {
    width: 2em; }
  #experience-list-container .experience-list-tip-item {
    max-width: 350px; }
  #experience-list-container .experience-list-item-note {
    min-width: 350px;
    width: 350px;
    height: 150px; }
  #experience-list-container .experience-list-item-square {
    min-width: 350px;
    width: 350px;
    height: 275px; }
    #experience-list-container .experience-list-item-square-border-blue {
      border: solid 2px #0a1235; }
    #experience-list-container .experience-list-item-square-border-yellow {
      border: solid 2px #ffd14e; }
    #experience-list-container .experience-list-item-square-border-pink {
      border: solid 2px #dc5770; }
  #experience-list-container hr {
    border-top: 2px solid #868686; }

#forgot-pwd-container, #reset-pwd-container {
  max-width: 80%;
  width: 1140px; }

/* The message box is shown when the user clicks on the password field */
#pwd-rules-container {
  display: block;
  background: #f4f4f4;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* Add a green text color and a checkmark when the requirements are right */
  /* Add a red text color and an "x" when the requirements are wrong */ }
  #pwd-rules-container p {
    padding-left: 35px; }
  #pwd-rules-container .valid {
    color: green; }
    #pwd-rules-container .valid:before {
      position: relative;
      left: -35px;
      content: "✔"; }
  #pwd-rules-container .invalid {
    color: red; }
    #pwd-rules-container .invalid:before {
      position: relative;
      left: -35px;
      content: "✖"; }

.messaging-border-right {
  border-right: solid 2px #ebebeb; }

.messaging-card-img-200 {
  height: 150px;
  width: 150px; }

.messaging-card-img {
  height: 100px;
  width: 100px; }

.messaging-card-container {
  margin-top: -3px;
  border: solid 3px #ebebeb; }
  .messaging-card-container a {
    text-decoration: none;
    color: #000000; }

.messaging-card-text {
  border: solid 3px #ebebeb; }
  .messaging-card-text-new {
    border: solid 3px #ffd14e; }

.messaging-message-container {
  border-top: solid 2px #ebebeb; }

.messaging-message-card-img {
  height: 75px;
  width: 75px; }

.messaging-send-btn {
  height: 125px;
  width: 100px; }

.messaging-send-input {
  min-height: 125px;
  height: 125px;
  max-height: 125px; }

.messaging-back-link {
  color: #000000; }

.pink-text {
  color: #dc5770; }

.grey-text {
  color: #868686; }

/*************** Override font family *************************************************/
p, a, span {
  font-family: 'Aaux ProMedium', serif;
  font-size: 1rem; }

h1 {
  font-family: 'Aaux ProLight', serif;
  font-size: 3rem; }

h2 {
  font-family: 'Aaux ProBold', serif;
  font-size: 2rem; }

h3 {
  font-family: 'Aaux ProBold', serif;
  font-size: 1.5rem; }

h4 {
  font-family: 'Aaux ProRegular', serif;
  font-size: 1.3rem; }

h5 {
  font-family: 'Aaux ProRegular', serif;
  font-size: 1rem; }

.aaux-pro-black {
  font-family: 'Aaux ProBlack', serif; }

.aaux-pro-regular {
  font-family: 'Aaux ProRegular', serif; }

.myriad-pro {
  font-family: 'Myriad Pro', serif; }

/*************** Override padding *****************************************************/
.p-5 {
  padding: 2rem 2rem !important; }

.pt-5 {
  padding-top: 2rem !important; }

.pr-5 {
  padding-right: 2rem !important; }

.pb-5 {
  padding-bottom: 2rem !important; }

.pl-5 {
  padding-left: 2rem !important; }

.p-6 {
  padding: 3rem 3rem !important; }

.pt-6 {
  padding-top: 3rem !important; }

.pr-6 {
  padding-right: 3rem !important; }

.pb-6 {
  padding-bottom: 3rem !important; }

.pl-6 {
  padding-left: 3rem !important; }

/*************** Override margin ******************************************************/
.m-5 {
  margin: 2rem 2rem !important; }

.mt-5 {
  margin-top: 2rem !important; }

.mr-5 {
  margin-right: 2rem !important; }

.mb-5 {
  margin-bottom: 2rem !important; }

.ml-5 {
  margin-left: 2rem !important; }

.m-6 {
  margin: 3rem 3rem !important; }

.mt-6 {
  margin-top: 3rem !important; }

.mr-6 {
  margin-right: 3rem !important; }

.mb-6 {
  margin-bottom: 3rem !important; }

.ml-6 {
  margin-left: 3rem !important; }

/*************** Override container ***************************************************/
.container {
  width: 100%; }

.container .row {
  width: 100%; }

.markup {
  white-space: pre-wrap;
  word-wrap: break-word; }

.ui-autocomplete {
  max-height: 500px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden; }
