/************** This file import all scss files and override bootstrap css ************/
/************** This file define generic classes for welcom ***************/
/************** This file define colors use for welcom ***************/
.wel-bg-white {
  background-color: #ffffff; }

.wel-bg-blue {
  background-color: #2e79cc; }

.wel-bg-green {
  background-color: #21cd99; }

.wel-bg-grey-dark {
  background-color: #161616; }

.wel-bg-grey-light {
  background-color: #f4f4f4; }

.wel-bg-grey-middle-light {
  background-color: #ebebeb; }

.wel-bg-grey {
  background-color: #868686; }

.wel-bg-orange {
  background-color: #ffd14e; }

.wel-color-white {
  color: #ffffff; }

.wel-color-blue-night {
  color: #2e79cc; }

/************** This file define colors use for welcom ***************/
/*************** Header Image Carousel ***********************************/
#header-carousel .dark-opacity-overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#dc5770), to(#0a1235));
  background: linear-gradient(to right, #dc5770, #0a1235);
  mix-blend-mode: multiply; }

#header-carousel .carousel-control-prev,
#header-carousel .carousel-control-next {
  z-index: 5; }

#header-carousel .header-carousel-img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover; }

#header-carousel .carousel-indicators li {
  border-radius: 20px;
  max-width: 20px;
  height: 20px;
  background-color: rgba(255, 209, 78, 0.5); }
  #header-carousel .carousel-indicators li.active {
    border-radius: 25px;
    max-width: 25px;
    height: 25px;
    background-color: #ffd14e; }

#header-carousel .carousel-caption {
  top: 20%; }
  #header-carousel .carousel-caption h1, #header-carousel .carousel-caption h2 {
    font-family: 'Aaux ProLight'; }
  #header-carousel .carousel-caption h1 {
    font-size: 4em;
    font-weight: normal; }
  #header-carousel .carousel-caption h2 {
    font-size: 1.2em; }
  #header-carousel .carousel-caption button {
    background-color: transparent;
    color: white !important;
    border: 2px #FFF solid;
    border-radius: 25px;
    width: 170px;
    height: 50px;
    margin-top: 100px; }

/*************** Whant a truly Parisian experience ? *********************/
/*************** Learn more **********************************************/
#learn-more .svg-separate-line {
  width: 100px;
  height: 5px; }
  #learn-more .svg-separate-line line {
    stroke: #ffd14e;
    stroke-width: 5px; }

/*************** Community says ******************************************/
#community-says .community-says-item {
  max-width: 350px; }

/*************** Our stories and vision **********************************/
/*************** Want to get our newsletter ? ****************************/
#newsletter-form .col {
  max-width: 450px; }

/*************** Do you feel like becoming a Welcomer ? ******************/
/*************** Do you feel like becoming a Welcomer ? ******************/
/*************** We love that they do (or did) ***************************/
/************** This file define colors use for welcom ***************/
#header-nav {
  min-height: 60px; }
  #header-nav .header-logo {
    height: 45px; }
  #header-nav a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #000000;
    border-bottom: solid 3px;
    border-bottom-color: #ffffff; }
    #header-nav a:hover:not(.navbar-brand) {
      border-bottom-color: #ffd14e; }
  #header-nav button {
    background: -webkit-gradient(linear, left top, right top, from(#dc5770), to(#0a1235));
    background: linear-gradient(to right, #dc5770, #0a1235);
    font-size: 13,76pt; }
  #header-nav .sign-in-link {
    font-family: 'Aaux ProBlack', serif;
    background: -webkit-gradient(linear, left top, right top, from(#dc5770), to(#0a1235));
    background: linear-gradient(to right, #dc5770, #0a1235);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

/************** This file define colors use for welcom ***************/
#footer-content {
  background-color: #161616; }
  #footer-content #back-top {
    margin-top: -62px; }
    #footer-content #back-top .back-top-shape {
      width: 61px;
      height: 61px; }
      #footer-content #back-top .back-top-shape-lozenge {
        fill-rule: evenodd;
        fill: #ffffff; }
      #footer-content #back-top .back-top-shape-arrow {
        fill-rule: evenodd;
        fill: #ffd14e; }
  #footer-content .footer-logo {
    height: 45px; }
  #footer-content a, #footer-content p {
    color: #868686; }
  #footer-content h4 {
    color: #ffd14e; }
  #footer-content #footer-link a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-bottom: solid 3px;
    border-bottom-color: #161616; }
    #footer-content #footer-link a:hover:not(.footer-logo-link) {
      color: #ffffff;
      border-bottom-color: #ffd14e; }
  #footer-content #footer-social a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 4px #868686; }
    #footer-content #footer-social a .fa {
      font-size: 1.7em; }
      #footer-content #footer-social a .fa.fa-facebook {
        margin-left: -2px; }
      #footer-content #footer-social a .fa.fa-twitter {
        margin-left: -6px; }
      #footer-content #footer-social a .fa.fa-instagram {
        margin-left: -5px; }
    #footer-content #footer-social a:hover {
      border: solid 4px #ffd14e; }
      #footer-content #footer-social a:hover .fa {
        color: #ffffff; }
  #footer-content #footer-social .footer-social-line {
    height: 4px;
    width: 25%;
    max-width: 350px; }
    #footer-content #footer-social .footer-social-line line {
      stroke: #868686;
      stroke-width: 4px; }

/************** This file define colors use for welcom ***************/
.experience-card-item {
  border: 5px solid #21cd99;
  border-radius: .25rem;
  width: 20rem; }
  .experience-card-item .card-block {
    background-color: #ebebeb; }
    .experience-card-item .card-block-img-row {
      margin-bottom: -55px; }
      .experience-card-item .card-block-img-row .rounded-circle {
        border: 5px solid #21cd99;
        width: 100px;
        height: 100px; }

/************** This file define colors use for welcom ***************/
#community-says .rounded-circle {
  position: relative;
  border: 5px solid #ffffff;
  -webkit-box-shadow: 0 0 0 5px #21cd99;
          box-shadow: 0 0 0 5px #21cd99; }

#community-says .community-says-item img {
  width: 100px;
  height: 100px; }

#community-says .community-says-item .community-say-item-from {
  width: 50%; }

#community-says .community-says-item .community-say-item-detail {
  width: 70%; }

#community-says .community-says-item .svg-quote {
  width: 44px;
  height: 37px; }
  #community-says .community-says-item .svg-quote .svg-quote-path {
    fill: #21cd99;
    fill-rule: evenodd; }

.story-card-large .btn-primary {
  background-color: #2e79cc; }

.story-card-large-img-cover {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%; }

/************** This file define colors use for welcom ***************/
#story .story-card-item .btn-primary {
  background-color: #2e79cc; }

#story .story-card-item-img-top {
  -o-object-fit: cover;
     object-fit: cover; }
  @media (min-width: 1500px) {
    #story .story-card-item-img-top {
      height: 300px; } }
  @media (max-width: 1499px) {
    #story .story-card-item-img-top {
      height: 200px; } }

/*************** Override font family *************************************************/
p, a, h1, h2, h3, h4, h5 {
  font-family: 'Aaux ProMedium', serif;
  font-size: 12pt; }

/*************** Override padding *****************************************************/
.p-5 {
  padding: 2rem 2rem !important; }

.pt-5 {
  padding-top: 2rem !important; }

.pr-5 {
  padding-right: 2rem !important; }

.pb-5 {
  padding-bottom: 2rem !important; }

.pl-5 {
  padding-left: 2rem !important; }

.p-6 {
  padding: 3rem 3rem !important; }

.pt-6 {
  padding-top: 3rem !important; }

.pr-6 {
  padding-right: 3rem !important; }

.pb-6 {
  padding-bottom: 3rem !important; }

.pl-6 {
  padding-left: 3rem !important; }

/*************** Override margin ******************************************************/
.m-5 {
  margin: 2rem 2rem !important; }

.mt-5 {
  margin-top: 2rem !important; }

.mr-5 {
  margin-right: 2rem !important; }

.mb-5 {
  margin-bottom: 2rem !important; }

.ml-5 {
  margin-left: 2rem !important; }

.m-6 {
  margin: 3rem 3rem !important; }

.mt-6 {
  margin-top: 3rem !important; }

.mr-6 {
  margin-right: 3rem !important; }

.mb-6 {
  margin-bottom: 3rem !important; }

.ml-6 {
  margin-left: 3rem !important; }

/*************** Override container ***************************************************/
.container {
  width: 100%; }

.container .row {
  width: 100%; }
