/************** This file import all scss files and override bootstrap css ************/
/************** This file define generic classes for welcom ***************/
/************** This file define colors use for welcom ***************/
.wel-bg-white {
  background-color: #ffffff; }

.wel-bg-blue {
  background-color: #0a1235; }

.wel-bg-pink {
  background-color: #dc5770; }

.wel-bg-yellow {
  background-color: #ffd14e; }

.wel-bg-grey-dark {
  background-color: #161616; }

.wel-bg-grey-light {
  background-color: #f4f4f4; }

.wel-bg-grey-middle-light {
  background-color: #ebebeb; }

.wel-bg-grey {
  background-color: #868686; }

.wel-color-white {
  color: #ffffff !important; }

.wel-color-blue-night {
  color: #0a1235; }

.wel-color-yellow {
  color: #ffd14e; }

button {
  cursor: pointer; }

.gradient-rounded-btn {
  font-size: 13,76pt;
  background: -webkit-gradient(linear, left top, right top, from(#dc5770), to(#0a1235));
  background: linear-gradient(to right, #dc5770, #0a1235);
  color: white;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: calc(100% + 20px); }

.text-gradient {
  font-family: 'Aaux ProBlack', serif;
  background: -webkit-gradient(linear, left top, right top, from(#dc5770), to(#0a1235));
  background: linear-gradient(to right, #dc5770, #0a1235);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/************** This file define colors use for welcom ***************/
/*************** Header Image Carousel ***********************************/
#header-carousel .dark-opacity-overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#dc5770), to(#0a1235));
  background: linear-gradient(to right, #dc5770, #0a1235);
  mix-blend-mode: multiply; }

#header-carousel .carousel-control-prev,
#header-carousel .carousel-control-next {
  z-index: 5; }

#header-carousel .header-carousel-img {
  width: 100vw;
  height: auto;
  max-height: 800px;
  min-height: 450px;
  -o-object-fit: cover;
  object-fit: cover; }

#header-carousel .carousel-indicators li {
  border-radius: 20px;
  max-width: 20px;
  height: 20px;
  background-color: rgba(255, 209, 78, 0.5); }
  #header-carousel .carousel-indicators li.active {
    border-radius: 25px;
    max-width: 25px;
    height: 25px;
    background-color: #ffd14e; }

#header-carousel .carousel-caption h1, #header-carousel .carousel-caption h2 {
  font-family: 'Aaux ProLight'; }

#header-carousel .carousel-caption button {
  background-color: transparent;
  color: white !important;
  border: 2px #FFF solid;
  border-radius: 25px;
  width: 170px;
  height: 50px; }

@media (min-width: 1001px) {
  #header-carousel .carousel-caption {
    top: 20%; }
    #header-carousel .carousel-caption h1 {
      font-size: 4em;
      font-weight: normal; }
    #header-carousel .carousel-caption h2 {
      font-size: 1.2em; }
    #header-carousel .carousel-caption button {
      margin-top: 50px; } }

@media (max-width: 1000px) {
  #header-carousel .carousel-caption {
    top: 15%; }
    #header-carousel .carousel-caption h1 {
      font-size: 4em;
      font-weight: normal; }
    #header-carousel .carousel-caption h2 {
      font-size: 1.2em; }
    #header-carousel .carousel-caption button {
      margin-top: 50px; } }

@media (max-width: 850px) {
  #header-carousel .carousel-caption {
    top: 10%; }
    #header-carousel .carousel-caption h1 {
      font-size: 3em;
      font-weight: normal; }
    #header-carousel .carousel-caption h2 {
      font-size: 1em; }
    #header-carousel .carousel-caption button {
      margin-top: 50px; } }

@media (max-width: 550px) {
  #header-carousel .carousel-caption {
    top: 5%; }
    #header-carousel .carousel-caption h1 {
      font-size: 3em;
      font-weight: normal; }
    #header-carousel .carousel-caption h2 {
      font-size: 1em; }
    #header-carousel .carousel-caption button {
      margin-top: 25px; } }

/*************** Whant a truly Parisian experience ? *********************/
#experiences button {
  width: 175px;
  border-radius: 25px;
  height: 50px;
  font-family: "Aaux ProBold";
  border: none; }

/*************** Learn more **********************************************/
#learn-more img {
  width: 100px;
  height: 100px; }

#learn-more .learn-more-title {
  height: 75px; }

#learn-more .mw {
  max-width: 275px;
  min-width: 250px; }

#learn-more .svg-separate-line {
  width: 100px;
  height: 5px; }
  #learn-more .svg-separate-line line {
    stroke: #ffd14e;
    stroke-width: 5px; }

/*************** Community says ******************************************/
#community-says .community-says-item {
  max-width: 350px; }

#community-says button {
  background-color: transparent;
  color: #dc5770 !important;
  border: 2px #dc5770 solid;
  border-radius: 25px;
  width: 170px;
  height: 50px; }

/*************** Multi part : ********************************************/
/*************** Want to get our newsletter ? ****************************/
/*************** Do you feel like becoming a Welcomer ? ******************/
/*************** Our stories and vision **********************************/
#multi-part .item-becoming-welcomer {
  height: 400px;
  background: -webkit-gradient(linear, left top, right top, from(#dc5770), to(#ffd14e));
  background: linear-gradient(to right, #dc5770, #ffd14e);
  color: white; }
  #multi-part .item-becoming-welcomer button {
    background-color: transparent;
    color: white !important;
    border: 2px white solid;
    border-radius: 25px;
    width: 170px;
    height: 50px; }
  #multi-part .item-becoming-welcomer p, #multi-part .item-becoming-welcomer h2 {
    width: 350px;
    margin: auto; }

#multi-part .item-newsletter {
  height: 400px;
  background-color: white; }
  #multi-part .item-newsletter button {
    background-color: #dc5770;
    color: white !important;
    border: none;
    border-radius: 25px;
    width: 170px;
    height: 50px; }
  #multi-part .item-newsletter input {
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 350px; }
  #multi-part .item-newsletter input::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Aaux ProLight', serif; }
  #multi-part .item-newsletter input:-ms-input-placeholder {
    text-align: center;
    font-family: 'Aaux ProLight', serif; }
  #multi-part .item-newsletter input::-ms-input-placeholder {
    text-align: center;
    font-family: 'Aaux ProLight', serif; }
  #multi-part .item-newsletter input::placeholder {
    text-align: center;
    font-family: 'Aaux ProLight', serif; }

#multi-part .item-stories {
  height: 650px;
  background-color: white; }

#multi-part .item-img {
  height: 650px;
  background: url("/images/people-walking-street.png");
  background-size: cover; }

@media (min-width: 992px) {
  #multi-part .item {
    width: 50%; } }

@media (max-width: 991px) {
  #multi-part .item {
    width: 100%; }
  #multi-part .item-stories {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; } }

@media (max-width: 576px) {
  #multi-part .item-stories {
    height: auto; } }

/*************** We love that they do (or did) ***************************/
#we-love-that-they-do img {
  height: 40px; }

@font-face {
  font-family: "AAUX Problack";
  src: url("/font/AAUX Problack.ttf"); }

@font-face {
  font-family: "AAUX Probold";
  src: url("/font/AAUX Probold.ttf"); }

@font-face {
  font-family: "AAUX Prolight";
  src: url("/font/AAUX Prolight.ttf"); }

@font-face {
  font-family: "AAUX Promedium";
  src: url("/font/AAUX Promedium.ttf"); }

@font-face {
  font-family: "AAUX Proregular";
  src: url("/font/AAUX Proregular.ttf"); }

@font-face {
  font-family: "Gotham-Bold";
  src: url("/font/GothamBold.otf"); }

@font-face {
  font-family: "Gotham-Light";
  src: url("/font/GothamLight.otf"); }

.footer-content {
  max-width: 80%;
  width: 1000px; }
  .footer-content h4 {
    font-weight: bold; }

@media (min-width: 1200px) {
  .meet-team-img {
    width: 350px; }
  .meet-team-desc {
    width: 550px; } }

@media (min-width: 992px) {
  .meet-team-img {
    width: 350px; }
  .meet-team-desc {
    width: 350px; } }

@media (min-width: 768px) {
  .meet-team-img {
    width: 450px; }
  .meet-team-desc {
    width: 450px; } }

@media (min-width: 576px) and (max-width: 767px) {
  p {
    margin-left: 5%;
    margin-right: 5%; }
  .img-jb-tiyo {
    max-width: 95%; }
  .meet-team-img {
    width: 350px; }
  .meet-team-desc {
    width: 350px; } }

@media (max-width: 575px) {
  p {
    margin-left: 5%;
    margin-right: 5%; }
  .img-jb-tiyo {
    max-width: 95%; }
  .meet-team-img {
    width: 350px; }
  .meet-team-desc {
    width: 350px; } }

.contact-us-form input {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 350px; }

.contact-us-form input::-webkit-input-placeholder, .contact-us-form textarea::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

.contact-us-form input:-ms-input-placeholder, .contact-us-form textarea:-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

.contact-us-form input::-ms-input-placeholder, .contact-us-form textarea::-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

.contact-us-form input::placeholder, .contact-us-form textarea::placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

.contact-us-btn button {
  background-color: #dc5770;
  color: white !important;
  border: none;
  border-radius: 25px;
  width: 170px;
  height: 50px; }

.need-you-img {
  width: 400px;
  max-width: 100%; }

.joinus-btn {
  background-color: transparent;
  color: #dc5770 !important;
  border: 2px #dc5770 solid;
  border-radius: 25px;
  width: 170px;
  height: 50px; }

/************** This file define colors use for welcom ***************/
#header-nav-btn {
  top: 30px; }

#wel-nav-bar {
  background-color: #ffffff; }
  #wel-nav-bar a {
    color: #000000; }
  #wel-nav-bar .header-logo {
    height: 75px; }
  #wel-nav-bar .underline-yellow {
    border-bottom: solid 3px;
    border-bottom-color: #ffffff; }
    #wel-nav-bar .underline-yellow:hover {
      border-bottom-color: #ffd14e; }
  #wel-nav-bar #header-profile-picture {
    width: 75px; }
  #wel-nav-bar #message-icon .badge {
    background-color: #ffd14e;
    margin-left: -10px; }

#join-us-form input {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 80%; }

#join-us-form input::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#join-us-form input:-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#join-us-form input::-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#join-us-form input::placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#join-us-form a {
  border: none;
  color: #000000; }

#join-us-form .join-us-btn button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #dc5770;
  border-radius: 25px;
  font-weight: bold;
  width: 170px;
  height: 50px; }

#join-us-form .terms-of-use {
  width: 80%; }

#join-us-form .social-btn button {
  border: none;
  border-radius: 25px;
  width: 80%;
  height: 50px; }

#join-us-form .social-btn i {
  font-weight: bold !important; }

#join-us-form hr {
  height: 3px;
  color: #ffd14e;
  background-color: #ffd14e;
  border: none;
  width: 60%; }

#sign-in-modal-form input:not(#remember-me) {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 80%; }

#sign-in-modal-form input::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#sign-in-modal-form input:-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#sign-in-modal-form input::-ms-input-placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#sign-in-modal-form input::placeholder {
  text-align: center;
  font-family: 'Aaux ProLight', serif; }

#sign-in-modal-form a {
  border: none;
  color: #000000; }

#sign-in-modal-form .sign-in-btn button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #dc5770;
  border-radius: 25px;
  font-weight: bold;
  width: 170px;
  height: 50px; }

#sign-in-modal-form .social-btn button {
  border: none;
  border-radius: 25px;
  width: 80%;
  height: 50px; }

#sign-in-modal-form .social-btn i {
  font-weight: bold !important; }

#sign-in-modal-form hr {
  height: 3px;
  color: #ffd14e;
  background-color: #ffd14e;
  border: none;
  width: 60%; }

/************** This file define colors use for welcom ***************/
#footer-content {
  background-color: #0a1235; }
  #footer-content #back-top .back-top-shape {
    width: 61px;
    height: 61px; }
    #footer-content #back-top .back-top-shape-arrow {
      fill-rule: evenodd;
      fill: #ffffff; }
  #footer-content .footer-logo {
    height: 120px; }
  #footer-content a, #footer-content p {
    color: #ffffff; }
  #footer-content h4 {
    color: #ffd14e; }
  #footer-content #footer-link a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-bottom: solid 3px;
    border-bottom-color: #0a1235; }
    #footer-content #footer-link a:hover:not(.footer-logo-link) {
      color: #ffffff;
      border-bottom-color: #ffd14e; }
  #footer-content #footer-social a {
    width: 50px;
    height: 50px; }
    #footer-content #footer-social a .fa {
      font-size: 1.7em; }
      #footer-content #footer-social a .fa.fa-facebook {
        margin-left: -2px; }
      #footer-content #footer-social a .fa.fa-twitter {
        margin-left: -6px; }
      #footer-content #footer-social a .fa.fa-instagram {
        margin-left: -5px; }
    #footer-content #footer-social a:hover .fa {
      color: #ffd14e; }
  #footer-content #footer-social .footer-social-line {
    height: 4px;
    width: 25%;
    max-width: 350px; }
    #footer-content #footer-social .footer-social-line line {
      stroke: #868686;
      stroke-width: 4px; }
  #footer-content .right-reserved {
    color: #868686; }

/************** This file define colors use for welcom ***************/
.experience-card-item {
  width: 20rem; }
  .experience-card-item .card-block {
    background-color: #ebebeb; }
    .experience-card-item .card-block .card-text {
      font-family: "Aaux ProMedium";
      font-size: 1.2rem; }
    .experience-card-item .card-block-img-row {
      height: 100px;
      margin-bottom: -55px; }
      .experience-card-item .card-block-img-row .rounded-circle {
        border: 5px solid #ebebeb;
        width: 100px;
        height: 100px;
        margin-top: -60px; }
      .experience-card-item .card-block-img-row .exp-creator {
        margin-top: -10px !important; }
        .experience-card-item .card-block-img-row .exp-creator-name {
          font-family: "Aaux ProBold";
          font-size: 1.2rem;
          margin-top: -10px !important; }
        .experience-card-item .card-block-img-row .exp-creator-with {
          font-family: "Aaux ProRegular";
          font-size: 0.8rem; }

/************** This file define colors use for welcom ***************/
#community-says .rounded-circle {
  position: relative; }

#community-says .community-says-item img {
  width: 140px;
  height: 140px; }

#community-says .community-says-item .community-say-item-from {
  width: 50%; }
  #community-says .community-says-item .community-say-item-from p {
    text-align: left; }

#community-says .community-says-item .community-say-item-detail {
  width: 215px; }

#community-says .community-says-item .svg-quote {
  width: 44px;
  height: 37px; }
  #community-says .community-says-item .svg-quote .svg-quote-path {
    fill: #dc5770;
    fill-rule: evenodd; }

/************** This file define colors use for welcom ***************/
.story-card-title-text-title p {
  font-size: 1.3rem; }

.story-card-title-text-text p {
  font-size: 1rem; }

.story-card-title-text-link a {
  color: #dc5770;
  text-decoration: none; }

.story-card-title-text-link .fa {
  color: #dc5770; }

/************** This file define colors use for welcom ***************/
.story-card-title p {
  font-size: 1.1rem; }

.story-card-link a {
  color: #dc5770;
  text-decoration: none; }

.story-card-link .fa {
  color: #dc5770; }

/*************** Override font family *************************************************/
p, a, span {
  font-family: 'Aaux ProMedium', serif;
  font-size: 1rem; }

h1 {
  font-family: 'Aaux ProLight', serif;
  font-size: 3rem; }

h2 {
  font-family: 'Aaux ProBold', serif;
  font-size: 2rem; }

h3 {
  font-family: 'Aaux ProBold', serif;
  font-size: 1.5rem; }

h4 {
  font-family: 'Aaux ProRegular', serif;
  font-size: 1.3rem; }

h5 {
  font-family: 'Aaux ProRegular', serif;
  font-size: 1rem; }

.aaux-pro-black {
  font-family: 'Aaux ProBlack', serif; }

.aaux-pro-regular {
  font-family: 'Aaux ProRegular', serif; }

.myriad-pro {
  font-family: 'Myriad Pro', serif; }

/*************** Override padding *****************************************************/
.p-5 {
  padding: 2rem 2rem !important; }

.pt-5 {
  padding-top: 2rem !important; }

.pr-5 {
  padding-right: 2rem !important; }

.pb-5 {
  padding-bottom: 2rem !important; }

.pl-5 {
  padding-left: 2rem !important; }

.p-6 {
  padding: 3rem 3rem !important; }

.pt-6 {
  padding-top: 3rem !important; }

.pr-6 {
  padding-right: 3rem !important; }

.pb-6 {
  padding-bottom: 3rem !important; }

.pl-6 {
  padding-left: 3rem !important; }

/*************** Override margin ******************************************************/
.m-5 {
  margin: 2rem 2rem !important; }

.mt-5 {
  margin-top: 2rem !important; }

.mr-5 {
  margin-right: 2rem !important; }

.mb-5 {
  margin-bottom: 2rem !important; }

.ml-5 {
  margin-left: 2rem !important; }

.m-6 {
  margin: 3rem 3rem !important; }

.mt-6 {
  margin-top: 3rem !important; }

.mr-6 {
  margin-right: 3rem !important; }

.mb-6 {
  margin-bottom: 3rem !important; }

.ml-6 {
  margin-left: 3rem !important; }

/*************** Override container ***************************************************/
.container {
  width: 100%; }

.container .row {
  width: 100%; }
