@import 'color';

#header-nav{
    min-height: 60px;
    
    .header-logo{
        height: 45px;
    }

    a{
        padding-left: 0px !important;
        padding-right: 0px !important;

        color: $wel-black;

        border-bottom: solid 3px;
        border-bottom-color: $wel-white;

        &:hover:not(.navbar-brand){
            border-bottom-color: $wel-orange;
        }
    }

    button{
        background: linear-gradient(to right, #dc5770 , #0a1235);
        font-size: 13,76pt;
    }

    .sign-in-link{
        font-family: 'Aaux ProBlack', serif;
        background: -webkit-linear-gradient(to right, #dc5770 , #0a1235);
        background: linear-gradient(to right, #dc5770 , #0a1235);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}