extends ../layout

block content
  .wel-bg-blue.wel-color-white.p-6
    h1.text-center.wel-color-yellow Welcom’ is more than a project, it’s a new vision
  .d-flex.flex-row.justify-content-center.m-auto.footer-content
    .p-2
      h2.pt-4.pb-4 A new generation of travellers needs new tools

      p
        | Welcom’ is above all a need we felt. When we travel, we like to immerse ourselves in the local culture. 
        | We want to learn and meet people. Extend our comfort zone. Not in Lonely Planet or AirBnB mode, but with 
        | authenticity. We are travellers, not tourists.
        | <br/>This new generation is not distinguished by age, nor by its country of origin, but by the values
        | it carries.Our values are <b>curiosity, respect</b> for others, and <b>effort</b> when we prepare our travels. We are 
        | not alone: a whole new generation of travellers wants to get out of mass tourism and live genuine experiences. 
        | <br/>As no existing solution seemed sufficient, we decided to create ours. We want to help people meet. We
        | want that travellers to be able to meet Parisians, and that Parisians can share their local life with travellers. 
        | That’s our purpose, because sharing is caring.

      h4.pt-4 We want to serve a new generation of travellers, our generation.

      h2.pt-4.pb-4 An online agora to spark live exchanges

      p 
        | We want people to meet, and this is prepared in advance, like a trip itself. We test it first in our city, Paris.
        | <b>We build here what we would like to find when we travel.</b> Hundreds of thousands of travellers come here each year, 
        | and we believe that many of you would like to meet Parisians.
        | <br/>We are part of the Internet nation, so we use the internet. Welcom' is not a social network or a marketplace 
        | (people are not for sale). It is a social place, an <b>agora</b>. The important thing is to create live encounters, 
        | and that's the goal of the platform.
        | <br/>Our experience has taught us that we need to move away from the model of tour guides and others. 
        | No group visits with 10 or 20 people who can not exchange, only private experiences. No professionals, 
        | only individuals. No imposed themes: the tastes of the people are multiple, what counts is the meeting. 
        | Parisians offer experiences, and travellers choose.

      h4.pt-4 
        | Spending only two hours with a Parisian, with the city of Light as background, can change a trip to Paris 
        | and make it unforgettable.

      h2.pt-4.pb-4 Browse, book, enjoy

      p 
        | The welcomers offer what they want: they know the local life and they have their own passions. It can be a 
        | visit to their favorite neighborhood, a moment spent talking and sharing a good bottle of wine, a tasting of 
        | crêpes ... They create <b>experiences</b>: an activity to do, about 2 hours, related to what they want to share. 
        | They are free to choose, Paris is infinite and everyone has different tastes. They also choose whether it is
        | free or not. Why ? Because they too have projects too, including trips.
        | <br/>Travellers browse these experiences on Welcom’, and when they find one they like, they can request a booking
        |  on the date they come to Paris. The following is simple: <b>meet, share, experience</b>. And enjoy!
        | <br/>Let it be clear: this "booking" is not a purchase. It's like asking a <b>friend of a friend</b> if he/she can spend
        | some time showing off his city. Nobody is pro here.

      h4.pt-4 Welcom's role as a community is to be the agora where you will find this friend.

      h2.pt-4.pb-4 By travellers, for travellers

      p
        | The Welcom' team is above all two friends who like to travel. <b>Welcomers are simply Parisians who like to travel 
        | too, and who are at home between two trips.</b> We are ready to help travellers as we like to be helped when we travel.
        |  Travellers are those people from all over the world who do not feel like tourists.
        | <br/>We are a new generation of travellers, who reject mass tourism and its damage. We are aware, respectful, 
        | curious, we travel to learn, not just to take pictures. We are the Internet nation, and we speak English (or globish).

      h4.pt-4 We are a community of travellers helping each others.

      h2.pt-4.pb-4 What we promise

      p 
        | This is the beginning of the Welcom project. We have dozens of ideas to better serve travellers around the world.
        | <b>We will need you to make this dream come true.</b>
        | <br/>Nobody knows what tomorrow will be like, but we promise you:

      ul
        li We will always be <b>at the service of the community</b>, and will be <b>transparent</b> with you.
        li <b>No professionals</b> on the platform: what matters is the human contact, people meeting and sharing a moment.
        li <b>No commercial or sponsorship agreements</b>: no fake articles, disguised advertisements for restaurants or hotels, etc.
        li <b>No discounts</b> like "register and you get 10 € off", because we are all about people, and people are not for sale.
        li We promise that <b>there will always be free experiences</b>: money is only a means, not an end.

      h4.pt-4 Our goal is to shift Paris from the most touristic city in the world to the most welcoming city in the world.

      p.pt-4 Even if you do not plan to come to Paris, anyone who signs up is an encouragement for us!

      center
        button.mt-2.mb-4.text-uppercase.joinus-btn(type="button" data-toggle="modal" data-target="#joinus") Join us

      p If you want to make a comment or just say "bonjour", do not hesitate to 
        a(href="/contactus") contact us.

      p.pt-4
        | <b>From Paris with love, 
        | <br/>JB, Tiyo and the Welcom’ community</b>
