extends ../layout

block content
    div.wel-bg-blue.wel-color-white.p-6
        h1.text-center.wel-color-yellow Let’s build something great together
    .d-flex.flex-row.justify-content-center.m-auto.footer-content
        .p-2
            p.pt-4
                | <b>Welcom' is a community first and foremost.</b> We need to talk to each other, 
                | share passions and thoughts. 
                | <br/> This is the <b>gamma</b> (third) version of Welcom’, and, as you may have seen, 
                | there is a lot to improve.

            p
                | Whether you have <b>special skills</b> (graphist, UX designer, developer, communicator, community manager, 
                | writer, photographer, etc.) or a <b>cool traveller’s mind,</b> we need your help, your ideas to make Welcom' a 
                | website that lives up to the community we want to serve.

            p More generally, we need your opinion, feedbacks, suggestions as travellers to improve Welcom' unceasingly.

            img.p-4.pb-4.mx-auto.d-block.need-you-img(src="/images/logo/w-need-you.png" alt="We need you") 

            span Please connect with us through 
            a(href="/contactus") contact us
            span . Even just to say “ bonjour “ !

            p.pt-4
                | <b>Thanks a lot and let’s do it ! 
                | <br/>JB and Yohann</b>
