extends ../layout

block content
  .wel-bg-blue.wel-color-white.p-6
    h1.text-center.wel-color-white.font-weight-bold A blog without bullsh*t
  .d-flex.flex-row.justify-content-center.m-auto.footer-content
    .p-2.pb-6
      p.pt-4
        | It is very important for us to produce interesting content for you, for the community, 
        | such as stories, explanations on the platform, our vision of travelling, what we do, 
        | but also tips to enjoy Paris, to give you inspiration.

      p
        | <b>We do not publish shit</b>, like "the Ultimate guide to Paris" or "5 things to do in Paris" or 
        | even "The must-do in Paris". There is no ultimate guide, because every traveller has his/her own 
        | expectations and interests, there are like one million things to do in Paris, not just five, and 
        | there are no “must do / must see / must whatever” because “must” doesn’t exist, except breathing, 
        | eating good food and being friendly with people.
        | <br/><b>We publish quality stories, tips, opinions, and the topics are directly inspired by the 
        | conversations we have with travellers.</b>

      p  
        | We do not have a blog part on the site yet (it will be done when we have time) so JB write on 
        | Medium, a cool new blogging platform.

      p Click on the boxes to discover our account, or our publications (sets of stories):

      ul
        li <b>Welcom' project and community:</b> About this platform and the community.
        li 
          | <b>Experience the real Paris:</b> Stories about our city and tips to enjoy the local 
          | life during your trip.

      .pb-4.d-flex.flex-row.justify-content-around.align-items-center.flex-wrap
        .p-2
          a(href="https://medium.com/@WelcomParis" target="_blank")
            img.mx-auto.d-block(src="/images/blog/welcom-account.png" alt="Welcom account") 
        .p-2
          a(href="https://medium.com/news-releases" target="_blank")
            img.mx-auto.d-block(src="/images/blog/welcom-project-community.png" alt="Welcom project and community")  
        .p-2
          a(href="https://medium.com/experience-the-real-paris" target="_blank")
            img.mx-auto.d-block(src="/images/blog/experience-real-paris.png" alt="Experience the real Paris") 

      p  
        | There is also JB's account, it's still about traveling and sharing, but more... brutal personal opinions.
        | <br/>If you are into running, he has another publication about his "discovery runs", 
        | "I will run in your hometown" :

      .pb-4.d-flex.flex-row.justify-content-around.align-items-center.flex-wrap
        .p-2
          a(href="https://medium.com/@SerJB" target="_blank")
            img.mx-auto.d-block(src="/images/blog/jb-account.png" alt="JB' account") 
        .p-2
          a(href="https://medium.com/i-will-run-in-your-hometown" target="_blank")
            img.mx-auto.d-block(src="/images/blog/run-in-your-hometown.png" alt="I will run in your hometown") 

      p Here are three important stories we published on Medium :

      .pb-4.d-flex.flex-row.justify-content-around.align-items-center.flex-wrap
        .p-2
          a(href="https://medium.com/news-releases/we-simply-aim-to-change-paris-8cfbd010b416" target="_blank")
            img.mx-auto.d-block(src="/images/blog/change-paris.png" alt="We just want to change Paris") 
        .p-2
          a(href="https://medium.com/experience-the-real-paris/a-paris-visit-versus-a-parisian-experience-64da50f932cc" target="_blank")
            img.mx-auto.d-block(src="/images/blog/paris-visit.png" alt="A Paris visit versus a Parisian experience") 
        .p-2
          a(href="https://medium.com/i-will-run-in-your-hometown/my-magic-running-distance-for-happiness-e246cb8570cd" target="_blank")
            img.mx-auto.d-block(src="/images/blog/discovery-running.png" alt="Discovery running, first one") 

      p
        | As soon as possible, there will be a blog section on the site, with content reserved for the community
        | (yes, it is better to share our best advices privately) and members will also be able to write and
        | share stories.

      span <b>If you have a topic in mind that you would like us to write (or just want to say «bonjour»), </b>
      a(href="/contactus") contact us.

      p.pt-4
        | <b>All the best to the writers and the readers,
        | <br/>JB and Yohann</b>