extends ../layout

block content
  .wel-bg-blue.wel-color-white.p-6
    h1.text-center.wel-color-white.font-weight-bold Terms of Use as clear as possible
  .d-flex.flex-row.justify-content-center.m-auto.footer-content
    .p-2
      h3.pt-4.pb-2 Introduction

      p
        | This is the gamma (third) version of the website, and we know it is not perfect or complete. 
        | We will work tirelessly to improve it, week after week. But, we wanted to have clear Terms 
        | of Use from the beginning.

      p 
        | What is important to remember is that Welcom is built around several values, including <b>respect</b>, 
        | <b>curiosity</b> and <b>benevolence</b>. We will do our utmost to uphold these values on the site and in the community.

      p
        | We will not summarize the spirit with "don’t be evil", but here is the motto we have chosen for the Welcom community:

      b.font-italic.text-center.pb-2 "Make the magic happen"

      p.pt-2
        | Make the magic of travel happen, make the magic of meeting people happen, make the
        | magic of new experiences happen, make the Parisian magic happen !

      h3.pt-4.pb-2 Purpose of Welcom’ to Paris

      p
        | Welcom’ to Paris is a concept and a spirit. Our purpose is to offer a whole new type of service to a new generation 
        | of travellers.
        | <br/>Opposed to mass tourism, we want to create a community of travellers who help each other, first in Paris.
        | <br/>Parisian travellers can become welcomers and thus making travellers from all over the world discover their 
        | wonderful city. They can make them experience Paris as locals.
        | <br/>Meeting people is sometimes the highlight of a trip, and we believe meetings are not merchandise to sell.

      b.font-italic Welcom' aim to be the website, the community that will open a new era of travel.

      h3.pt-4.pb-2 Purpose of these Terms of Use

      p
        | The purpose of these Terms of Use is to define the terms and conditions for the use of the site https://welcom.city,
        | hereinafter referred to as "Welcom" or “the website” and the conditions of use of the service by the user.

      b.font-italic We want to make it as clear as possible: we are transparent to the community.

      h3.pt-4.pb-2 Acceptation of these Terms of Use

      p
        | These Terms of Use are accepted by users of the site, whether they are unique visitors or create an account (members).

      h3.pt-4.pb-2 Legal notice

      p 
        | Welcom’ is a project lead by two friends, JB and Yohann. To know more about us, go to the “Meet the team” page
        | (accessible by the footer). You can also contact us, and even meet us if you pass by Paris !

      h3.pt-4.pb-2 Definitions of parties

      p
        | In these Terms of Use, the parties are defined as follows:

      ul
        li “Website” : this term refers to the website www.welcom.city.
        li “Welcom’” : this term refers to the team leading Welcom and the website.
        li “User” : this term refers to any person who uses the website or any of the services offered on the website.
        li “Member” : this term refers to a user identified on the site.
        li “Traveller” : this term refers to a member that is not a welcomer.
        li “Welcomer” : this term refers to a member that is a welcomer.

      p
        | (Sorry to pretend that you are a "party", it is this document that wants this. For us, all visitors 
        | and all members are unique).

      h3.pt-4.pb-2 Site access and service provided

      p 
        | The website is a platform whose purpose is to promote meetings between travellers coming to Paris and Parisians. 
        | The site is nevertheless reserved for major users. It is organized as follows: a platform part, where the Parisian 
        | welcomers can propose experiences to live to the travelers, and a part (to come) blog where the travellers can find 
        | advice on Paris.
        | <br/> Depending on the status of each, the features of the site are accessible or not.

      p
        | Visitors - unregistered or unconnected users - can:

      ul
        li Browse Homepage and Footer Pages
        li See the list of proposed experiences
        li Read the proposed experiences and look at the user profiles.
        li Join the community or connect to their account.

      p
        | Travellers (registered and logged-in users who are not welcomers) can do like visitors, and in addition:

      ul
        li Create a profile, edit it, delete it,
        li Request a booking of an experience,
        li Put and receive reviews,
        li Send and receive messages,
        li Ask to become welcomers if they live in Paris.

      p
        | Welcomers (users registered as welcomers and connected) can do like visitors and travellers, plus:

      ul
        li Create, edit, and delete experiences,
        li Receive booking requests and answer them,
        li Receive reviews of their experiences.

      p
        | In the use of all these features, and those to come, we ask users to be respectful, to be benevolent, 
        | and especially to be themselves. We want everyone to express themselves, in a community that brings 
        | happiness around the passion of travel and meetings.

      b.font-italic 
        | This site and all its features are made to be used by travelers who need it. We want it to be as useful, 
        | beautiful and easy to use as possible.

      h3.pt-4.pb-2 Intellectual property

      p
        | Welcom owns its identity (logo, slogan and graphic charter included) as well as the content put online 
        | (texts, images and videos).
        | <br/> All data entered by users remains their property, and we will not keep them if they are deleted by users.

      b.font-italic We are so happy with our new logo that we do not want it to be stolen!

      h3.pt-4.pb-2 Personal data

      p 
        | We pay close attention to users' personal data, as we like other websites to pay attention to ours. 
        | We are as clear as possible about the data that is put online and the data that remains hidden in the user's profile.
        | <br/> We do not keep the data of users who delete their profile.

      b.font-italic Let one thing be clear: we do not sell our users' data. We are not Big Brother or Facebook (which is almost the same).

      h3.pt-4.pb-2 Responsibilities

      p
        | Let's all be responsible and everything will be fine.
        | <br/> Welcom is responsible for the development, maintenance and content of the site. The user must behave according 
        | to the three values displayed in the introduction: respect, curiosity, benevolence.
        | <br/> Welcom reserves the right to remove any unscrupulous content and ban any user whose behavior would disturb 
        | the community. 

      b.font-italic We are open to all opinions and all cultures, but respect is paramount, as in any travel project.

      h3.pt-4.pb-2 URLs

      p
        | We are always trying to control the content of the site, including URLs to third-party sites, but we are not immune. 
        | This website contains URLs to other websites published and / or managed by third parties.
        | <br/>To the extent that no control is exercised over these external resources, the user acknowledges that 
        | Welcom assumes no responsibility for the availability of these resources and can not be held responsible for their content.

      h3.pt-4.pb-2 Force majeure

      p 
        | We will do our utmost to ensure that everything goes well, but our responsibility can not be engaged in case of 
        | force majeure or facts beyond our control. 

      h3.pt-4.pb-2 Update

      p
        | These terms and conditions will be updated, at our sole discretion, whenever necessary and at any time. 
        | If we do this, we will post the changes on this page and will indicate at the top of this page the date these 
        | terms were last revised. We will also notify you through the Services user interface. Any such changes will become 
        | effective no earlier than fourteen (14) days after they are posted. A continued use of the website after the date 
        | any such changes become effective constitutes your acceptance of the new Terms of Use.

      b If you have any remarks, suggestions to make, or just to say bonjour, please 
        a(href="/contactus") contact us.