extends ../layout

block content
    div.wel-bg-blue.wel-color-white.p-6
        h1.text-center.wel-color-yellow Really, let's meet up !
    .d-flex.flex-row.justify-content-center.m-auto.footer-content
        .pt-6
            p
                | We are two friends with a traveller’s spirit, living in Paris and working on Welcom’. A dozen people worked 
                | on that project at some point : it’s a friends project. It started because we all love travelling, and hate
                | mass tourism and its damages. We wanted something to help us meet locals when we travel. As no existing 
                | solutions was good for us, we decided to create our own. 

            p 
                | We met almost 100 travellers in a year to ask for their opinions, needs and thoughts. The result is the 
                | <b>Welcom’ to Paris spirit and concept !</b>

            p
                | We love to meet interesting people and share ideas, plans and passions. whereas you are travellers 
                | coming to Paris or a Parisian wanting to become a welcomer (yes, we want to meet avery aspiring welcomer
                | before displaying their experiences), send us a message and <b>let’s meet up !</b>

            P Here are our short portraits :

            
            .d-flex.flex-row.justify-content-center.align-items-center.flex-wrap
                .mr-4.meet-team-img
                    h2.text-center JB
                    img.mx-auto.d-block(src="/images/team/jb.jpg" alt="JB" width="100%" ) 
                    p.text-center (JB just before a conference in Berlin)
                .m-auto.meet-team-desc
                    p 29 years old
                    p Welcomer & Prophet
                    p <b>A motto :</b> "I don't say it's possible, I say we're gonna do it"
                    p <b>One characteristic :</b> I'm a former tourist, transformed into a travel
                    p 
                        | <b>Trip lived :</b> France, Madrid and Santander, Uzbekistan and Kyrgyzstan, Amsterdam, Brussels,
                        | Berlin, Hamburg. Lived in Dublin and visited the West of Ireland.
                    p 
                        | <b>Future trips:</b> Costa Rica, Baltic countries, maybe Turkey. So much countries to visit, so much     
                        | people to meet, so much experiences to live !                      

            .d-flex.flex-row.justify-content-center.align-items-center.flex-wrap
                .mr-4.meet-team-img
                    h2.text-center Tiyo
                    img.mx-auto.d-block(src="/images/team/tiyo.jpg" alt="Tiyo" width="100%" ) 
                    p.text-center (Tiyo playing the spy with his friends in venice Beach)
                .m-auto.meet-team-desc
                    p 26 years old
                    p Code machine
                    p <b>A motto :</b> "My goal is to experience all the countries of the world"
                    p <b>One characteristic :</b> I’m the only French guy that doesn’t like cheese.
                    p 
                        | <b>Trip lived :</b> Prague, Malta, Berlin, Brussels, Athens and the island of Santorini, Lisbon and Porto,
                        | Los Angeles, Las Vegas and Grand Canyon, Spitzberg (largest island in the Svalbard Archipelago)
                    p 
                        | <b>Future trips:</b> Thailand, Croatia, maybe Cuba. So much countries to visit in the world!
            
            p.pt-6 We are just two regular travel enthousiasts who want <b>to make a difference for the travellers.</b>

            p 
                | Usually, we work like this : Yohann on his three-screens computer, and JB on his laptop. 
                | We don’t have often the chance to work in the same room, but we are used to work remotely.

            img.p-4.mx-auto.d-block.img-jb-tiyo(src="/images/team/jb-and-tiyo.jpg" alt="JB and Tiyo" width="600px" ) 

            div.pb-6
                span 
                    | If you have any suggestion to make, if you want to become a welcomer, or just to say bonjour, 
                    | please 

                a(href="/contactus") contact us 

                span and let’s meet up.
                        