@import 'color';

#community-says {

    .rounded-circle{
        position: relative;
    }

    .community-says-item{
        img{
            width: 140px;
            height: 140px;
        }

        .community-say-item-from{
            width: 50%;

            p{
                text-align: left;
            }
        }

        .community-say-item-detail{
            width: 215px;
        }

        .svg-quote{
            width: 44px;
            height: 37px;

            .svg-quote-path{
                fill: $wel-pink;
                fill-rule: evenodd;
            }
        }
    }
}

