#experience-card{
    color: $wel-black;
    text-decoration: none;
}

.experience-card-item {
    width: 20rem;
    &-title {
        height: 75px;
    }
    .card-block {
        background-color: $wel-grey-middle-light;
        .card-text {
            font-family: "Aaux ProMedium";
            font-size: 1rem;
        }
        &-img-row {
            height: 100px;
            margin-bottom: -55px;
            .rounded-circle {
                border: 5px solid $wel-grey-middle-light;
                width: 120px;
                height: 120px;
                margin-top: -60px;
            }
            .exp-creator {
                width: 180px;
                &-name {
                    font-family: "Aaux ProBold";
                    font-size: 1rem;
                    line-height: 1.1rem;
                    word-break: break-all;
                    margin-top: -7px;
                }
                &-with {
                    font-family: "Aaux ProRegular";
                    font-size: 0.8rem;
                    vertical-align: text-top;
                }
            }
        }
    }
    &-reco {
        &-nb {
            padding-right: 5px;
            font-size: 1.2rem;
            color: $wel-pink;
            vertical-align: super;
            display: inline-block;
        }
        &-ico {
            color: $wel-pink;
        }
    }
    &-paying-ico {
        width: 2em;
    }
}