@import 'color';

#story{
    .story-card-item{
        .btn-primary{
            background-color: $wel-blue;
        }

        &-img-top{
            object-fit: cover;

            @media (min-width: 1500px) { 
                height: 300px;
            }

            @media (max-width: 1499px) { 
                height: 200px;
            }
        }
    }
}
