@import 'color';

.story-card{
    &-title{
        p{
            font-size: 1.1rem;
        }
    }

    &-link{
        a{
            color: $wel-pink;
            text-decoration:none;
        }

        .fa{
            color: $wel-pink;
        }
    }
}