html
    body
        center
            img(src="https://welcom.city/images/logo-welcom-beta.png" alt="Welcom !" height="50" width="315" style="margin:20px")
        block email-content
        div(style="color:#8A8A8A;font-size: xx-small; margin-top:50px")
            center
                h4.
                    You can still follow us on <a href="https://www.facebook.com/welcomcity/">Facebook</a>, <a href="https://medium.com/@WelcomParis/">Medium</a> or <a href="https://twitter.com/WelcomParis/">Twitter</a>.
                h4 Thanks to you all for your support !
                h4 From Paris with cats,
                h4 JB, Julien and Yohann, the Welcom' team
                br
                p
                    i Copyright © 2017 JB, All rights reserved.
                p.
                    If you're not supposed to receive this mail, please <a href="https://welcom.city/contact-us" target="_blank">contact us</a>.
                    Our mailing address is: 
                    JB
                    JB's livingroom
                    Paris 75009
                    France